// Colors
$magenta: hsl(330, 100%, 50%);
$blue: hsl(200, 90%, 55%);
$green: hsl(85, 80%, 45%);
$orange: hsl(35, 100%, 50%);

// Fonts
$body-font: Roboto, "Helvetica Neue", sans-serif;
$heading-font: Didot, 'Didot LT STD', "Bodoni 72", Bodoni, 'Bodoni MT', 'Libre Bodoni', 'Hoefler Text', Cambria, Georgia, serif;
$mono-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

// Layout
$content-width: 1050px;

// Sass variables to CSS variables
:root {
	// Colors
	--color-magenta: $magenta;
	--color-blue: $blue;
	--color-green: $green;
	--color-orange: $orange;

	// Fonts
	--font-body: $body-font;
	--font-heading: $heading-font;
	--font-mono: $mono-font;

	// Layout
	--content-width: $content-width;
}
