@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
:root {
  --color-magenta: #ff0080;
  --color-blue: #25aff4;
  --color-green: #82cf17;
  --color-orange: #ff9500;
  --font-body: Roboto, "Helvetica Neue", sans-serif;
  --font-heading: Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
  --font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --content-width: 900px; }

@font-face {
  font-family: 'Libre Bodoni';
  src: url("fonts/LibreBodoniBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Libre Bodoni';
  src: url("/assets/fonts/libre-bodoni/0f49c646c8f12a9dbd4730215d10a2a8/629d903227943776cbe3783d8cc1e84b/LibreBodoniBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Libre Bodoni';
  src: url("/assets/fonts/libre-bodoni/0f49c646c8f12a9dbd4730215d10a2a8/bb68fe30ffd78ce5863852f076341165/LibreBodoniItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Libre Bodoni';
  src: url("fonts/LibreBodoniRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.flat-button {
  display: inline-block;
  padding: .2em .8em;
  border: 2px solid white;
  border-color: var(--color);
  border-radius: .3em;
  color: white;
  color: var(--color);
  font-size: 130%;
  font-weight: 400;
  text-decoration: none; }
  .flat-button:hover {
    background: var(--color);
    color: var(--background); }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
  font: 300 106%/1.5 Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  counter-reset: figure; }

a {
  color: #25aff4;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

dd + dt {
  margin-top: 1.5em; }

pre, code {
  background: whitesmoke;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre; }

/* Code blocks */
pre {
  padding: 1em 1.5em;
  margin: .5em -1.5em;
  overflow: auto;
  background: floralwhite;
  box-shadow: 0 0 10em #ffeacc inset;
  -webkit-clip-path: polygon(0 0, 100% 0.5em, calc(100% - .5em) calc(100% - 1em), 0 100%);
  clip-path: polygon(0 0, 100% 0.5em, calc(100% - .5em) calc(100% - 1em), 0 100%); }
  @supports not ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
    pre {
      border-radius: .5em; } }
  pre > code {
    background: transparent; }

:not(pre) > code {
  background: transparent;
  font-weight: bold;
  color: #505662; }

body > section > hr {
  height: .5em;
  width: 5em;
  margin: 1.5rem 0 1rem;
  background: #ff0080;
  border: none; }

input {
  font: inherit;
  color: inherit;
  border: none;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.4); }

body > header,
body > section,
body > footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem; }

body > header {
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .8em 1em .6em;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.5em), 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.5em), 0% 100%);
  background: #222;
  color: white; }
  body > header nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700; }
    body > header nav a {
      display: block;
      padding: 0 1em;
      border-radius: 2em;
      line-height: 2; }
      body > header nav a:hover {
        background: white;
        color: black;
        mix-blend-mode: screen;
        text-decoration: none; }
  body > header .logo {
    margin: 0; }
    body > header .logo img {
      height: 2rem; }
  body > header + h2 {
    padding: 1.5em 1em .5em;
    margin-top: -1.5em;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 1em));
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 1em));
    background: #ff0080;
    color: white;
    text-align: right;
    font-size: 250%;
    font-weight: 200;
    line-height: 1; }

body > section {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  body > section > h1 {
    font: bold 200% Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
    color: #ff9500; }
  body > section > h2,
  body > section > section > h1 {
    font: bold 150% Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
    color: #ff0080; }
  body > section > * {
    width: 900px;
    max-width: 90vw; }

body > footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 3em 1em 1em;
  padding: 3em calc(50% - 450px) 1em;
  background: #e9eaed;
  color: rgba(0, 0, 0, 0.8);
  font-size: 80%;
  -webkit-clip-path: polygon(0% 0%, 100% 2.5em, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 2.5em, 100% 100%, 0% 100%); }
  body > footer > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 1em 0 .5em; }
  body > footer p {
    margin: .5em; }
  body > footer a {
    color: inherit;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7); }
  body > footer a.logo {
    height: 3em;
    margin: 0 .5em; }
    body > footer a.logo img {
      height: 100%; }

.notice {
  padding: .5em 1em;
  border-radius: .3em;
  background: #d3effd;
  width: auto; }
  .notice a {
    font-weight: bold; }

.note, .tip {
  border-left: 0.5em solid #66c7f7;
  padding-left: .5em;
  margin-left: -1em; }
  .note::before, .tip::before {
    content: "Note: ";
    font-weight: bold;
    color: #25aff4; }

.tip::before {
  content: "Tip: "; }

figure {
  counter-increment: figure; }
  figure img, figure video {
    max-width: 100%; }
  figure figcaption {
    font-style: italic; }
    figure figcaption::before {
      content: "Figure " counter(figure) " ";
      font-weight: bold;
      font-style: normal; }

/*# sourceMappingURL=style.css.map */
