@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import "vars";

.flat-button {
	display: inline-block;
	padding: .2em .8em;
	border: 2px solid white;
	border-color: var(--color);
	border-radius: .3em;
	color: white;
	color: var(--color);
	font-size: 130%;
	font-weight: 400;
	text-decoration: none;

	&:hover {
		background: var(--color);
		color: var(--background);
	}
}

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	margin: 0;
	font: 300 106%/1.5 $body-font;
	font-kerning: auto;
	hyphens: auto;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	hyphens: auto;
}

dd + dt {
	margin-top: 1.5em;
}

pre, code {
	background: hsl(0, 0%, 96%);
	font-family: $mono-font;
	tab-size: 4;
	hyphens: none;
	white-space: pre;
}

	/* Code blocks */
	pre {
		padding: 1em 1.5em;
		margin: .5em -1.5em;
		overflow: auto;
		background: hsl(40, 100%, 97%);
		box-shadow: 0 0 10em hsl(35, 100%, 90%) inset;

		clip-path: polygon(0 0, 100% .5em, calc(100% - .5em) calc(100% - 1em), 0 100%);

		@supports not (clip-path: polygon(0 0)) {
			& {
				border-radius: .5em;
			}
		}

		& > code {
			background: transparent;
		}
	}

	:not(pre) > code {
		padding: .2em .4em;
		border-radius: .25em;
	}

hr {
	height: 2em;
	margin: 1.5em 0 1em;
	background: url(hr.svg) no-repeat center;
	border: none;
}

input {
	font: inherit;
	color: inherit;
	border: none;
	border-bottom: .1em solid rgba(0,0,0,.4);
}

body > header,
body > section,
body > footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

body > header {
	position: relative;
	z-index: 1;
	display: flex;
	padding: .8em 1em .6em;
	justify-content: space-between;
	flex-flow: row;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.5em), 0% 100%);
	background: #222;
	color: white;

	nav {
		display: flex;
		font-weight: 700;

		a {
			display: block;
			padding: 0 1em;
			border-radius: 2em;
			line-height: 2;

			&:hover {
				background: white;
				color: black;
				mix-blend-mode: screen;
				text-decoration: none;
			}
		}
	}

	.logo {
		margin: 0;

		img {
			height: 2rem;
		}
	}

	& + h2 {
		padding: 1.5em 1em .5em;
		margin-top: -1.5em;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 1em));
		background: $magenta;
		color: white;
		text-align: right;
		font-size: 250%;
		font-weight: 200;
		line-height: 1;
	}
}

body > section {
	flex: 1;

	& > h1 {
		font: bold 200% $heading-font;
		color: $orange;
	}

	& > * {
		width: $content-width;
		max-width: 90vw;
	}
}

body > footer {
	display: flex;
	flex-flow: row wrap;
	padding: 3em 1em 1em;
	padding: 3em calc(50% - #{$content-width/2}) 1em;
	background: hsl(220, 10%, 92%);
	color: rgba(0,0,0,.8);
	font-size: 80%;
	clip-path: polygon(0% 0%, 100% 2.5em, 100% 100%, 0% 100%);

	& > div {
		flex: 1;
		margin: 0 1em 0 .5em;
	}

	p {
		margin: .5em;
	}

	a {
		color: inherit;
		font-weight: bold;
		color: rgba(0,0,0,.7);
	}

	a.logo {
		height: 3em;
		margin: 0 .5em;

		img {
			height: 100%;
		}
	}
}

.docs {
	body > header + h2 {
		background: $green;
	}

	.example {
		& > h1 {
			color: $green;
		}

		&.color-picker .example-container {
			padding: 0;

			div[style] {
				padding: 2em;
			}

			input {
				display: block;
			}
		}

		&.scoped-expressions .example-container {
			[typeof] {
				padding: 1em;
				border: 1px solid rgba(0,0,0,.2);
				background: rgba(0,0,0,.05);
				margin: 1em;
			}
		}

		&.pow .example-container {
			font-size: 300%;

			input {
				background: rgba(0,0,0,.05);
				border: none;
			}

			input {
				text-align: center;
			}

			[property="exponent"] {
				font-size: 60%;
				vertical-align: top;
			}
		}

		&.movie .example-container {
			padding: 0;

			div[class] {
				padding: 2em;
			}
		}

		.example-container {
			position: relative;
			transform: scale(1);
			padding: 2.5em 2em 2em;
			border: 1px solid rgba(0,0,0,.3);
			margin: 1em 0 0;

			input[type="number"] {
				font-size: 150%;
				max-width: 2em;
			}

			[data-multiple] {
				padding: .5em;
				border: 1px solid rgba(0,0,0,.1);
				margin: .5em 0;

				h1 {
					margin-top: 0;
				}
			}

			@media print {
				display: none;
			}
		}

		.mv-debug-storage {
			margin: 0;
			background: rgba(0,0,0,.06);
			color: black

			&:not(:last-child) {
				margin-bottom: 1em;
			}

			summary {
			   display: block;
			   padding: .3em .8em;
			   background: rgba(0,0,0,.3);
			   color: white;
			   font-size: 75%;
			   font-weight: bold;
			   cursor: pointer;
			   outline: none;

			   &:hover, &:focus {
				   background: rgba(0,0,0,.6);
			   }
		   }

		   pre {
			   background: none;
			   margin: 0;
			   color: black;

			   th {
				   color: white;
			   }

				th, td {
					border-color: hsla(0,0%,0%,.1);
				}
		   }

		   @media print {
			   display: none;
		   }
		}
	}

	#show-examples {
		&, & + label {
			margin: 0;
			line-height: 1;

			@media print {
				display: none;
			}

			@media (min-width: 1300px) {
				position: fixed;
				bottom: 2rem;
				left: 2rem;
			}
		}

		& + label {
			left: 3.5rem;
		}

		&:not(:checked) ~ section .example {
			display: none;
		}
	}

	#summary {
		break-inside: avoid;

		dt {
			font-size: 120%;
			font-weight: bold;
		}
	}

	body > section > table {
		border-spacing: 0;
		border-collapse: collapse;

		th, td {
			text-align: left;
		}

		td {
			padding: .1em .5em;
			border: 1px solid rgba(0,0,0,.1);
		}

		code {
			background: transparent;
		}
	}
}

.note, .tip {
	border-left: .5em solid mix(white, $blue, 30%);
	padding-left: .5em;
	margin-left: -1em;

	&::before {
		content: "Note: ";
		font-weight: bold;
		color: $blue;
	}
}

.tip {
	&::before {
		content: "Tip: ";
	}
}

.unimplemented {
	text-decoration: line-through;
	text-decoration-style: dashed;
}

@import "prism";
