html {
	background: hsl(220 10% 96%);
	padding-inline: 1.5em;
	min-height: 100vh;
	font: 120%/1.5 system-ui, Helvetica Neue, sans-serif;
}

body {
	padding: 0;
	max-width: 50rem;
	margin: 1em auto;
}

button {
	font: inherit;
	font-weight: bold;
	background: hsl(220 10% 90%);
	border: 1px solid rgba(0 0 0 / .1);
	padding: 0 .4em;
	cursor: pointer;
}

fieldset {
	border: 1px solid rgba(0 0 0 / .15);
	border-radius: .3em;
	margin-bottom: 1em;
}

main {
	margin-top: 1em;
}

p {
	margin: 0;
}

article[property=event] {
	position: relative;
	list-style: none;
	padding: .5rem;
	background: white;
	margin: .5em 0;
	box-shadow: 0 .05em .05em hsla(220, 10%, 50%, .5);
	text-align: center;

	&::before {
		position: absolute;
		top: .5rem;
		right: .5rem;
		padding: .2em .5em;
		text-transform: uppercase;
		border-radius: .2em;
		color: white;
		font-size: smaller;
		font-weight: bold;
	}

	&.past::before {
		content: "Past";
		background: hsl(220 50% 50%);
	}

	&.future::before {
		content: "future";
		background: hsl(280 50% 50%);
	}
}

.duration {
	display: block;
	font-size: 150%;
}

.mv-add-event {
	margin-top: 1em;
	font-size: 120%;
}
