html {
	background: hsl(220, 10%, 96%);
	min-height: 100vh;
}

body {
	font: 120%/1.5 Helvetica Neue, sans-serif;
	padding: 0;
	max-width: 50rem;
	margin: 1em auto;
}

button {
	font: inherit;
	font-weight: bold;
	background: hsl(220, 10%, 90%);
	border: 1px solid rgba(0,0,0,.1);
	padding: 0 .4em;
	cursor: pointer;
}

fieldset {
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .3em;
}

main {
	margin-top: 1em;
}

p {
	margin: 0;
}

article[property=event] {
	list-style: none;
	padding: .5em .5em;
	background: white;
	margin: .5em 0;
	box-shadow: 0 .05em .05em hsla(220, 10%, 50%, .5);
	text-align: center;
}

.duration {
	display: block;
	font-size: 150%;
}

.mv-add-event {
	margin-top: 1em;
	font-size: 120%;
}
