<!DOCTYPE html>
<html lang="en" class="download">
<head>
	<meta charset="UTF-8">
	<title>Get Mavo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://get.mavo.io/stable/mavo.min.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="icon" href="/favicon.ico">

	<link rel='stylesheet' href='/get/style.css'>

	<script src="https://get.mavo.io/stable/mavo.es5.min.js"></script>
</head>

<body>

<header>
	<h1 class="logo">
		<a href="/"><img src="../logo.svg" alt="Mavo"></a>
	</h1>
	<nav>
	<a href="../docs/primer">Get started</a>
	<a href="../docs">Docs</a>
	<a href="../demos">Demos</a>
	<a href="../faq">FAQ</a>
	<a href="https://plugins.mavo.io">Plugins</a>
	<a href="../get">Get Mavo</a>
	<a href="https://play.mavo.io">Play!</a>
	<a class="github-button" href="https://github.com/mavoweb/mavo" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star mavoweb/mavo on GitHub">Star</a>
</nav>

</header>

<h2>Get Mavo</h2>

<section mv-app id="getmavo" mv-bar="none">
	<p class="notice warning">Mavo was released publicly on May 16th, 2017 and is currently in mature beta (gamma? 😝).
	This doesn’t mean you can’t use it in production, just make sure to test things well, and if you are going to hand off the site, use a specific Mavo version or local files.
	Play around with it and <a href="https://github.com/mavoweb/mavo/issues/new">let us know</a> if you encounter any bugs!
	Or, if you just like Mavo and want to <a href="https://gitter.im/mavoweb">tell us</a>, we’d love that too! 😊
</p>


	<p>You need to include both Mavo’s CSS file and JS file. To select the appropriate files, please answer the following questions:</p>

	<div class="questions">
		<article>
			<h1>Will you read the code in the JavaScript and CSS files?</h1>
			<label>
				<input type="radio" property name="minify" value="" checked>
				Yes, give me something readable <em>+ 70% filesize</em>
			</label>
			<label>
				<input type="radio" name="minify" value="min">
				No, give me something compressed
			</label>
		</article>
		<article>
			<h1>What browser support do you need?</h1>
			<label>
				<input type="radio" property name="transpile" value="" checked>
				Modern browsers only
			</label>
			<label>
				<input type="radio" name="transpile" value="es5">
				Slightly older browsers <em>+ 20% filesize</em>
			</label>
		</article>
		<article>
			<h1>Feeling adventurous?</h1>
			<label>
				<input type="radio" property name="path" value="">
				Yes, give me the absolute latest version <em>may have bugs!</em>
			</label>
			<label>
				<input type="radio" name="path" value="stable/" checked>
				No, give me the latest stable version
			</label>
			<label>
				<input type="radio" name="path" value="[version]/">
				Far from it, I actually want a <a href="#releases">specific version</a>:
				<select property="version">
					<option mv-multiple="versions" mv-value="condense(releases.tag_name)" selected="[$index = 1]">0.1.5</option>
				</select>
			</label>
		</article>
	</div>

	<meta property="filename" content="mavo[if(transpile, '.' & transpile)][if(minify, '.' & min)].js">

	<p>Now copy and paste the following code in your page’s <code>&lt;head></code> section, or click on the links below to download these files locally:</p>
	<pre class="language-foo"><code>&lt;script src="<a href="https://get.mavo.io/[path][filename]" download>https://get.mavo.io/[path][filename]</a>">&lt;/script>
&lt;link rel="stylesheet" href="<a href="https://get.mavo.io/[path]mavo[if(minify, '.' & min)].css" download>https://get.mavo.io/[path]mavo[if(minify, '.' & min)].css</a>"></code></pre>
</section>

<section mv-app id="releases" mv-source="https://api.github.com/repos/mavoweb/mavo/releases"
         mv-mode="read" mv-plugins="markdown" mv-bar="none">
	<h1>Mavo Release History</h1>

	<article property="release" mv-multiple mv-if="!prerelease">
		<h2 id="[tag_name]">
			<a property="html_url" target="_blank">
				<span property="tag_name"></span>
				<span mv-if="name and name != tag_name">
					(<span property="name"></span>)
				</span>
			</a>
			<time property="created_at"></time>
		</h2>

		<div property="body" mv-markdown-options="headerLevelStart: 3"></div>

		<p mv-if="$next.tag_name">
			<a href="https://github.com/mavoweb/mavo/compare/[$next.tag_name]...[tag_name]" target="_blank">▸ Full changelog</a>
		</p>
	</article>

	<p class="tip">Both the code generator, as well as the release list, are Mavo apps. View source to see how they’re made!</p>
</section>

<footer>
	<p>
		Made with &hearts; by <a href="https://lea.verou.me">Lea Verou</a> and <a href="https://github.com/mavoweb/mavo/graphs/contributors">all these awesome people</a>.
		Proudly hosted by <a href="https://www.netlify.com" class="netlify">Netlify</a>.
	</p>
	<article>
		<h1>Explore</h1>

		<ul>
			<li><a href="../docs/primer">Get started</a></li>
			<li><a href="../docs">Docs</a></li>
			<li><a href="../demos">Demos</a></li>
			<li><a href="../faq">FAQ</a></li>
			<li><a href="https://plugins.mavo.io">Plugins</a></li>
			<li><a href="../get">Get Mavo</a></li>
			<li><a href="https://test.mavo.io">Testsuite</a></li>
			<li><a href="../credits">Credits</a></li>
			<li><a href="../privacy.html">Privacy Policy</a></li>
		</ul>
	</article>
	<article>
		<h1>Social Mavo</h1>

		<ul>
			<li><a href="https://twitter.com/mavoweb">Follow @mavoweb on Twitter</a></li>
			<li><a href="https://gitter.im/mavoweb">Chat with us on Gitter</a></li>
			<li>
				<a href="https://github.com/mavoweb/mavo">Github</a>
				<a class="github-button" href="https://github.com/mavoweb/mavo" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star mavoweb/mavo on GitHub">Star</a>
			</li>
		</ul>
	</article>

	<a href="https://mit.edu" class="logo"><img src="../img/logo-mit.svg" alt="MIT" /></a>
	<a href="https://csail.mit.edu" class="logo"><img src="../img/logo-csail.svg" alt="CSAIL" /></a>
</footer>

<script src="../js/prism.js"></script>
<script src="/sitewide.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96752780-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
