@@include('_head.html', {
	"rootclass": "download",
	"title": "Get Mavo",
	"includes": "<link rel='stylesheet' href='/get/style.css'>"
})
<body>

@@include('_header.html')
<h2>Get Mavo</h2>

<section mv-app id="getmavo" mv-bar="none">
	@@include('_notice.html')

	<p>You need to include both Mavo’s CSS file and JS file. To select the appropriate files, please answer the following questions:</p>

	<div class="questions">
		<article>
			<h1>Will you read the code in the JavaScript file?</h1>
			<label>
				<input type="radio" property name="minify" value="" checked>
				Yes, give me something readable <em>+ 65% filesize</em>
			</label>
			<label>
				<input type="radio" name="minify" value="min">
				No, give me something compressed
			</label>
		</article>
		<article>
			<h1>What browser support do you need?</h1>
			<label>
				<input type="radio" property name="transpile" value="" checked>
				Modern browsers only
			</label>
			<label>
				<input type="radio" name="transpile" value="es5">
				Slightly older browsers <em>+ 20% filesize</em>
			</label>
		</article>
		<article>
			<h1>Feeling adventurous?</h1>
			<label>
				<input type="radio" property name="path" value="https://dev.mavo.io/dist">
				Yes, give me the absolute latest version <em>may have bugs!</em>
			</label>
			<label>
				<input type="radio" name="path" value="https://get.mavo.io" checked>
				No, give me the latest stable version
			</label>
			<label>
				<input type="radio" name="path" value="https://get.mavo.io/[version]">
				Far from it, I actually want a <a href="#releases">specific version</a>:
				<select property="version">
					<option mv-multiple="versions" mv-value="replace(releases.tag_name, 'v')">0.1.5</option>
				</select>
			</label>
		</article>
	</div>

	<meta property="filename" content="mavo[if(transpile, '.' & transpile)][if(minify, '.' & min)].js">

	<p>Now copy and paste the following code in your page’s <code>&lt;head></code> section, or click on the links below to download these files locally:</p>
	<pre class="language-foo"><code>&lt;script src="<a href="[path]/[filename]" download>[path]/[filename]</a>">&lt;/script>
&lt;link rel="stylesheet" href="<a href="[path]/mavo.css" download>[path]/mavo.css</a>"></code></pre>
</section>

<section mv-app id="releases" mv-source="https://api.github.com/repos/mavoweb/mavo/releases"
         mv-mode="read" mv-plugins="markdown" mv-bar="none">
	<h1>Mavo Release History</h1>

	<article property="release" mv-multiple mv-if="!prerelease">
		<h2 id="[tag_name]">
			<a property="html_url" target="_blank">
				<span property="tag_name"></span>
				<span mv-if="name and name != tag_name">
					(<span property="name"></span>)
				</span>
			</a>
			<time property="created_at"></time>
		</h2>

		<div property="body" mv-markdown-options="headerLevelStart: 3"></div>

		<p mv-if="$next.tag_name">
			<a href="https://github.com/mavoweb/mavo/compare/[$next.tag_name]...[tag_name]" target="_blank">▸ Full changelog</a>
		</p>
	</article>

	<p class="tip">Both the code generator, as well as the release list, are Mavo apps. View source to see how they’re made!</p>
</section>

@@include('_footer.html')

</body>
</html>
