<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>Turtle</title>
<link rel="icon" href="turtle.svg">
<link rel="stylesheet" href="https://get.mavo.io/v0.2.1/mavo.css">
<script src="https://get.mavo.io/v0.2.1/mavo.js"></script> <!-- mv-like support -->
<link rel="stylesheet" href="style.css">

</head>
<body mv-app="turtle" mv-storage="local" mv-plugins="clear" mv-autosave="0">

<header>
	<meta property="encoded_last_color" mv-value="replace(last(color), '#', '%23')" />
	<h1><img id="turtle_image" src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
		<circle cx="50" cy="50" r="50" opacity=".1" />
		<circle cx="50" cy="50" r="37" style="fill: %23f06; fill: [encoded_last_color];" />
		<circle id="eye" cx="65" cy="35" r="8.8" fill="black" stroke="white" stroke-width="6" />
		<use href="%23eye" y="30" /></svg>'>
	</h1>
	<meta property="code_before" mv-mode="read" mv-storage="none" content='var ctx = canvas.getContext("2d");
ctx.lineWidth = 8;
ctx.lineJoin = ctx.lineCap = "round";
ctx.strokeStyle = "#f06";
var brushDown = true;
' />

	<div class="mv-bar" mv-bar="with import export clear"></div>
	<details>
		<summary class="button code-js">Code (JS)</summary>
		<div>
			<textarea>[code_before][code]</textarea>
		</div>
	</details>
	<details>
		<summary class="button code-logo">Code (LOGO)</summary>
		<div>
			<textarea>[logo_code]</textarea>
		</div>
	</details>


	<section>
		<input type="number" property="width" value="1000" /> &times;
		<input type="number" property="height" value="1000" />
	</section>
</header>

<main>
<section class="editor">
	<ol>
		<li property="instruction" mv-multiple mv-mode="edit">

			<select property="type">
				<option value="move">Move</option>
				<option value="turn">Turn</option>
				<option value="color">Change color</option>
				<option value="up">Put brush up</option>
				<option value="down">Put brush down</option>
				<option value="repeat">Repeat the following</option>
			</select>

			<label mv-if="type = turn">
				<input type="number" property="angle" value="20" />
				degrees

				<select property="direction">
					<option value="1">clockwise</option>
					<option value="-1">anti-clockwise</option>
				</select>
				<meta property="logo" content="[if(direction = 1, 'right', 'left')] [angle]" />
				<meta property="js" content='ctx.rotate((Math.PI / 180) * [direction] * [angle]);
'>
			</label>

			<label mv-if="type = move">
				<select property="direction">
					<option value="1">forward</option>
					<option value="-1">backward</option>
				</select>
				<input type="number" property="steps" value="100" />
				steps
				<meta property="logo" content="[if(direction = 1, 'forward', 'backward')] [steps]" />
				<meta property="js" content='
ctx.moveTo(0, 0);
ctx.lineTo([direction] * [steps], 0);
ctx.translate([direction] * [steps], 0);
if (brushDown) ctx.stroke();
'>
			</label>

			<label mv-if="type = 'color'">
				to
				<!-- color.$previous should have worked here -->
				<input type="color" property="color" mv-default="[first(condense(color.$all).slice(0, -1)) or '#ff0066']" />
				<meta property="logo" content="setpc [color]" />
				<meta property="js" content='ctx.strokeStyle = "[color]";
if (brushDown) ctx.closePath(); ctx.beginPath();'>
			</label>

			<div mv-if="type = 'up'">
				<meta property="logo" mv-mode="read" content="penup" />
				<meta property="js" content='ctx.closePath(); brushDown = false;' mv-mode="read">
			</div>
			<div mv-if="type = 'down'">
				<meta property="logo" mv-mode="read" content="pendown" />
				<meta property="js" content='ctx.beginPath(); brushDown = true;' mv-mode="read">
			</div>
			<label mv-if="type = 'repeat'">
				<input type="number" property="times" />
				times:
				<meta property="logo" content='repeat [times] ["\\u005B"]
	[ replace(join(instruction.logo, "\\n"), "\\n", "\\n\\t") ]
["\\u005D"] ' />
				<meta property="js" content='for (let i=0; i<[times]; i++) {
	[ replace(join(instruction.js, "\\n"), "\\n", "\\n\\t") ]
}'>
			</label>

			<div class="mv-item-bar mv-ui"></div>
			<ol mv-if="type = 'repeat'">
				<li property="instruction" mv-multiple mv-like="instruction"></li>
			</ol>
		</li>
	</ol>
	<meta property="code" content="[join(js, '\\n')]" />
	<meta property="logo_code" content="[join(logo, '\\n')]" />

	<footer>
		Concept & design heavily inspired <br> from Nicky Case’s awesome <a href="http://ncase.me/joy-demo/turtle/" target="_blank">Joy of Turtle</a>
	</footer>
</section>
<section class="preview">
	<iframe srcdoc='
<head>
<style>
	body {
		margin: 0;
	}
	canvas {
		width: 100vmin;
		height: 100vmin;
		display: block;
	}
</style>
</head>
<body>
<canvas width="[width]" height="[height]" id="canvas"></canvas>
<script>
[code_before]
try {
ctx.translate([width/2], [width/2]);
[code]
} catch(e) {console.error(e)}
ctx.drawImage(parent.turtle_image, -25, -25, 50, 50);
</script>
</body>
	' frameborder="0"></iframe>
</section>

</main>

<!-- <script src="/js/demo.js"></script> -->
<script>
// Fix Chrome bug
document.addEventListener("mv-load", evt => {
	var iframe = $("iframe");
	setTimeout(e => iframe.srcdoc = iframe.srcdoc, 90);
})
</script>

</body>
</html>
