@import url('https://fonts.googleapis.com/css?family=Pangolin');

:root {
	--color-dark: hsl(220, 10%, 50%);
}

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	height: 100vh;
	font: 125%/1.5 Pangolin, sans-serif;
}

select, input, textarea, button {
	font: inherit;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
}

body > header {
	display: flex;
	align-items: center;
	padding: .5em;
	background: var(--color-dark);
	color: white;
	font-size: 120%;

	.mv-bar {
		display: flex;

		.mv-clear::before {
			content: "❌ ";
			vertical-align: 0;
		}

		.mv-export {
			&::before {
				content: "⬇️ ";
			}
		}

		.mv-import {
			&::before {
				content: "⬆️ ";
			}
		}
	}

	.code-js {
		&::before {
			content: "⚙️ ";
		}
	}

	.code-logo {
		&::before {
			content: "🐢 ";
			display: inline-block;
			translate: 0 -.15em;
		}
	}

	h1 {
		margin: 0;
		font-size: 130%;
		line-height: 1;
		margin-right: .5em;

		img {
			height: 1.3em;
			margin-block: -.1em -.25em;
			rotate: -90deg;
		}
	}

	a, button, .button, .mv-button {
		display: inline-block;
		vertical-align: bottom;
		padding: .4em .8em;
		border-radius: .3em;
		margin: 0 .3em;
		cursor: pointer;
		background: hsl(220 10% 50% / 70%);
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .8rem;
		line-height: 1.25;
		padding: .5em .6em .3em;
		border: 0;
		background: white;

		&::before {
			margin-right: .4em;
		}

		&:hover, &:focus {
			background: hsl(220, 10%, 50%);
		}

		&:hover,
		&:active,
		&:focus {
			background: hsla(0,0%,100%,.4);
		}

		&:not(:hover):not(:active):not(:focus) {
			color: hsl(220, 10%, 50%);
		}
	}

	/* JS popup */
	details {
		display: flex;
		position: relative;

		& > div {
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 2;
			margin-top: .3em;
			background: hsl(220 10% 96%);
			border: 1px solid rgb(0 0 0 / .2);
			box-shadow: 0 .2em 1.5em -.5em rgb(0 0 0 / .2);
			border-radius: .3rem;

			&::before {
				content: "";
				position: absolute;
				top: calc(-.5em * .6);
				left: 1em;
				background: inherit;
				border: inherit;
				border-right: 0;
				border-bottom: 0;
				width: .5em;
				height: .5em;
				transform: rotate(45deg);
			}
		}

		/* Code */
		textarea {
			display: block;
			field-sizing: content;
			min-width: 12rem;
			max-width: 90vw;
			background: transparent;
			tab-size: 4;
			max-height: 90vh;
			padding: 1rem;
			box-sizing: border-box;
			border: 0;
			font: 60%/1.5 Consolas, Monaco, monospace;
			border-radius: inherit;
			white-space: pre;
		}
	}

	/* Coordinate system */
	input[type=number] {
		max-width: 3.2em;
		padding-block: .1em;
		padding-inline: .4em .1em;
		border-radius: .2em;
		border: 1px solid hsl(0 0 100% / 50%);
		background: hsl(0 0 100% / 30%);
		color: white;
		font-size: 80%;
		box-sizing: content-box;
		field-sizing: content;

		&::-webkit-inner-spin-button {
			opacity: .5;
			mix-blend-mode: multiply;
		}
	}

	& > section {
		padding: 0 .5em;

		&:last-of-type {
			margin-left: auto;
		}
	}
}

main {
	flex: 1;
	display: flex;
}

.editor {
	padding: 0 1em 1em;
	background: hsl(220,10%,95%);
	overflow: auto;

	ol {
		padding: 0;
		counter-reset: step;
		display: flex;
		flex-flow: column;
		gap: .3em;
	}

	.mv-add-instruction {
		margin-top: .5em;
		color: rgb(0 0 0 / .25);
		border: 1px solid;
		border-radius: 1em;
		padding: 0 .8em;
		background: none;

		&:hover {
			background: white;
		}

		&::before {
			content: "+ "
		}
	}
}

.preview {
	display: flex;
	flex-flow: column;
	flex: 1;

	iframe {
		flex: 1;
		display: block;
		overflow: visible;
	}
}

[property=instruction] {
	position: relative;
	display: grid;
	grid-template-columns: min-content min-content auto auto;

	align-items: baseline;
	justify-content: start;
	column-gap: .5em;
	row-gap: .6em;
	counter-increment: step;

	/* Marker */
	&::before {
		content: counter(step);
		color: rgb(0 0 0 / .25);
		border: 1px solid;
		border-radius: 50%;
		min-width: 1em;
		padding-inline: .3em;
		padding-block: .35em .25em;
		text-align: center;
		line-height: 1;
	}

	&.mv-deleted {
		padding: 1em;

		&::before {
			content: none;
		}
	}

	.mv-item-bar {
		position: static;
		margin-inline-start: auto;
	}

	label {
		margin-right: .5em;
	}

	/* Instruction params */
	input[type=number],
	select {
		field-sizing: content;
		border: none;
		border-bottom: 2px solid rgb(0 0 0 / .25);
		background: none;
		line-height: 1.2;

		&::-webkit-inner-spin-button {
			opacity: .6;
		}
	}

	& > div {
		padding: 1em;
	}

	/* Nested instructions */
	ol {
		grid-row: 2;
		grid-column: 2 / -1;
	}

	input[type="color"] {
		appearance: none;
		display: inline-block;
		vertical-align: middle;
		width: 2em;
		height: 2em;
		aspect-ratio: 1;
		border-radius: 50%;
		margin-inline-start: .3em;
		padding: 0;
		border: none;

		&::-webkit-color-swatch-wrapper {
			padding: 0;
		}

		&::-webkit-color-swatch {
			border: 2px solid rgb(0 0 0 / .1);
			border-radius: 50%;
		}
	}
}

select[property="type"] {
	appearance: none;
	--icon-triangle-down: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" fill-opacity=".4"><path d="m 0 0 l 100 0 l -50 50 z" /></svg>');
	background: var(--icon-triangle-down) no-repeat 100% 50% / .5em auto;
	padding-inline-end: .7em;
	box-sizing: content-box;
}

footer {
	padding-top: 1em;
	margin-top: 2em;
	background: linear-gradient(var(--color-dark), var(--color-dark)) no-repeat 0 0 / 3em .3em;
	color: var(--color-dark);
}
