@import url('https://fonts.googleapis.com/css?family=Pangolin');

$dark: hsl(220, 10%, 50%);

%button {
	display: inline-block;
	vertical-align: bottom;
	padding: .4em .8em;
	border-radius: .3em;
	margin: 0 .3em;
	cursor: pointer;
	background: hsla(220, 10%, 50%, .7);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	line-height: 1.25;

	&::before {
		margin-right: .4em;
	}

	&:hover, &:focus {
		background: hsl(220, 10%, 50%);
	}
}

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	height: 100vh;
	font: 125%/1.5 Pangolin, sans-serif;
}

select, input, textarea, button {
	font: inherit;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
}

body > header {
	display: flex;
	align-items: center;
	padding: .5em;
	background: $dark;
	color: white;
	font-size: 120%;

	.mv-bar {
		display: flex;

		.mv-clear::before {
			content: "❌ ";
			vertical-align: 0;
		}

		.mv-export {
			&::before {
				content: "⬇️ ";
			}
		}

		.mv-import {
			&::before {
				content: "⬆️ ";
			}
		}
	}

	h1 {
		margin: 0;
		font-size: 130%;
		line-height: 1;
		filter: brightness(140%) saturate(70%);
		transform: scaleX(-1) scale(1.2);
		margin-right: .5em;
		mix-blend-mode: luminosity;
	}

	a, button, .button, .mv-button {
		@extend %button;
		padding: .5em .6em .3em;
		border: 0;
		background: white;

		&:hover,
		&:active,
		&:focus {
			background: hsla(0,0%,100%,.4);
		}

		&:not(:hover):not(:active):not(:focus) {
			color: hsl(220, 10%, 50%);
		}
	}

	details {
		display: flex;
		position: relative;

		& > div {
			position: absolute;
			left: -.5em;
			z-index: 2;
			margin-top: .5em;
			background: white;
			border: 1px solid rgba(0,0,0,.2);
			box-shadow: 0 .2em 1em rgba(0,0,0,.2);
			border-radius: .3rem;

			&::before {
				content: "";
				position: absolute;
				top: -.5em * .6;
				left: 1em;
				background: inherit;
				border: inherit;
				border-right: 0;
				border-bottom: 0;
				width: .5em;
				height: .5em;
				transform: rotate(45deg);
			}
		}

		textarea {
			display: block;
			width: 40rem;
			max-width: 90vw;
			height: 20rem;
			max-height: 90vh;
			padding: 1rem;
			box-sizing: border-box;
			border: 0;
			font: 60%/1.5 Consolas, Monaco, monospace;
			border-radius: inherit;
		}
	}

	input[type=number] {
		width: 3em;
		padding: .1em .4em;
		border-radius: .2em;
		border: 1px solid hsla(0,0%,100%,.5);
		background: hsla(0,0%,100%,.3);
		color: white;
		font-size: 80%;
	}

	& > section {
		padding: 0 .5em;

		&:last-of-type {
			margin-left: auto;
		}
	}
}

main {
	flex: 1;
	display: flex;
}

.editor {
	padding: 0 1em 1em;
	background: hsl(220,10%,95%);
	overflow: auto;

	ol {
		padding: 0;
		counter-reset: step;
	}

	.mv-add-instruction {
		margin-top: .5em;
		color: rgba(0,0,0,.25);
		border: 1px solid;
		border-radius: 1em;
		padding: 0 .6em;
		background: none;

		&:hover {
			background: white;
		}

		&::before {
			content: "+ "
		}
	}
}

.preview {
	display: flex;
	flex-flow: column;
	width: 50vw;

	iframe {
		flex: 1;
		display: block;
		overflow: visible;
	}
}

[property=instruction] {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: .4em 0;
	counter-increment: step;

	&::before {
		content: counter(step);
		color: rgba(0,0,0,.25);
		border: 1px solid;
		border-radius: 50%;
		min-width: 1.5em;
		text-align: center;
	}

	&.mv-deleted {
		padding: 1em;

		&::before {
			content: none;
		}
	}

	.mv-item-bar {
		position: static;
		border: 0;
		margin-left: auto;

		&:not(:hover):not(:focus) {
			mix-blend-mode: multiply;
		}
	}

	label {
		margin-right: .5em;
	}

	input[type=number] {
		border: none;
		border-bottom: 2px solid rgba(0,0,0,.25);
		background: none;
	}

	& > div {
		padding: 1em;
	}

	ol {
		min-width: 95%;
		margin-left: 5%;
	}

	input[type="color"] {
		appearance: none;
		width: 2em;
		height: 2em;
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		border: none;
		border-radius: 50%;

		&::-webkit-color-swatch-wrapper {
			padding: 0;
		}

		&::-webkit-color-swatch {
			border: 2px solid rgba(0,0,0,.1);
			border-radius: 50%;
		}
	}
}

select[property="type"] {
	appearance: none;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" fill-opacity=".3">\
		<path d="m 0 0 l 100 0 l -50 50 z" />
		</svg>') no-repeat calc(100% - .5em) 50% / .5em auto;
	border: none;
	margin: 0 .5em;
}

footer {
	padding-top: 1em;
	margin-top: 2em;
	background: linear-gradient($dark, $dark) no-repeat 0 0 / 3em .3em;
	color: $dark;
}
