body {
	margin: 0 auto;
	max-width: 58rem;
	padding: 1rem;

	a {
		text-decoration: none;
		color: #aaa;
	}

	header {
		margin: 0;

		h1 {
			display: inline-block;
			margin: 0;

			img {
				max-width: 8em;
			}
		}
	}

	& > div {
		display: flex;
		flex-flow: row wrap;
	}

	footer {
		margin-top: 1em;
		text-align: center;
		font-weight: 300;
		color: rgba(0,0,0,.6);
	}
}

a[property=painting],
.mv-add-painting {
	display: inline-block;
	vertical-align: top;
	margin: .3rem;
	position: relative;

	img {
		display: block;
		width: 13rem;
		height: 13rem;
		object-fit: cover;
		background: #ddd;

		&.mv-empty {
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" stroke="black" stroke-opacity=".3">
				<line x2="100" y2="100" /><line x1="100" y2="100" /></svg>');
		}
	}

	p {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: .6em;
		margin: 0;
		background: rgba(0,0,0,.5);
		backdrop-filter: blur(4px);
		color: white;
		transition: .2s bottom;

		::placeholder {
			color: hsla(0,0%,100%,.6);
		}
	}

	&:not([mv-mode="edit"]) {
		overflow: hidden;

		&:not(:hover) p {
			bottom: -6em;
		}
	}
}

.mv-add-painting {
	width: 5.2em;
	padding: .5em;
	border: 3px dashed rgba(0,0,0,.4);
	background: white;
	color: rgba(0,0,0,.4);
	text-align: center;
	font: inherit;
	font-size: 200%;
	font-weight: bold;

	width: 13rem;
	min-height: 13rem;

	&:hover {
		background: deeppink;
		color: white;
	}
}

@media (max-width: 600px) {
	html.lite a[property=painting] img,
	.mv-add-painting {
		width: 10.5rem;
		height: 10.5rem;
	}
}
