@import "../css/vars";

[property=post],
.blog-post {
	h1 {
		margin: 0;
	}

	header {
		font-size: 150%;
	}

	footer,
	.subtitle {
		font-size: 70%;
		font-weight: bold;
		color: $gray;

		a {
			color: inherit;
		}

		.avatar {
			max-height: 1.4em;
			vertical-align: -.3em;
		}
	}
}
