@charset "UTF-8";
.mv-bar {
  all: initial;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px); }
  .mv-bar[hidden] {
    display: none; }
  .mv-bar a {
    text-decoration: none; }
  .mv-bar.fixed {
    position: fixed;
    z-index: 10000; }
  .mv-bar:not(.fixed) {
    border-radius: .3em;
    margin-bottom: 1em; }
  .mv-bar:not(.fixed):not(.floating) {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.4em rgba(0, 0, 0, 0.3); }
  .mv-bar:not(.floating) {
    top: 0;
    left: 0;
    right: 0;
    padding: 0 .5em 0 6em;
    background: url("http://mavo.io/logo.svg") 0.5em 50%/auto 50% no-repeat, linear-gradient(transparent, rgba(38, 38, 38, 0.5));
    background-color: rgba(64, 64, 64, 0.9); }
    .mv-bar:not(.floating) button:enabled:hover, .mv-bar:not(.floating) .button:enabled:hover {
      background: rgba(255, 255, 255, 0.2); }
  .mv-bar.floating {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .mv-bar.floating:not(:hover):not(:focus) {
      opacity: .6; }
    .mv-bar.floating button, .mv-bar.floating .button {
      border-radius: .4em;
      border: 1px solid black;
      background: rgba(0, 0, 0, 0.8); }
    .mv-bar.floating .status {
      display: none; }
  .mv-bar button, .mv-bar .button {
    all: unset;
    font-weight: bold;
    cursor: pointer; }
    .mv-bar button:disabled, .mv-bar .button:disabled {
      opacity: .6;
      cursor: not-allowed; }
  .mv-bar > button,
  .mv-bar > .button {
    padding: .3em .6em .4em;
    border: 0; }
    .mv-bar > button::before,
    .mv-bar > .button::before {
      display: inline-block;
      vertical-align: -.1em;
      margin-right: .3em;
      color: white;
      opacity: .5;
      font-weight: normal; }
    .mv-bar > button:enabled:hover::before,
    .mv-bar > .button:enabled:hover::before {
      opacity: .8; }
  .mv-bar .avatar {
    all: unset;
    display: inline-block;
    vertical-align: -.1em;
    max-height: 1em; }
  .mv-bar .edit::before {
    content: "✎"; }
  .mv-wrapper[data-editing] .mv-bar .edit {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: .2em 0 .1em -.1em black inset, -.2em 0 .1em -.1em black inset; }
  .mv-bar .save::before {
    content: "✓"; }
  .mv-bar .save:enabled:hover {
    background: #40bfbf; }
  .mv-bar .revert::before {
    content: "✘"; }
  .mv-bar .revert:enabled:hover {
    background: #c50; }
  .mv-bar .clear::before {
    vertical-align: -.25em;
    width: .9em;
    -webkit-filter: saturate(0) brightness(600%);
    filter: saturate(0) brightness(600%); }
  .mv-bar .clear:enabled:hover {
    background: #b00; }
  .mv-wrapper:not(.editing) .mv-bar .clear {
    display: none; }
  .mv-bar .status {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 2.4;
    margin-top: auto;
    margin-bottom: auto; }
    .mv-bar .status .logout {
      vertical-align: .2em;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: .3em;
      box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
      padding: .1em .4em;
      margin: 0 0 0 .6em;
      font-size: 80%;
      line-height: 1.5; }
      .mv-bar .status .logout:active {
        background: transparent;
        box-shadow: 0 1px .1em black inset; }
  .mv-bar .status:empty {
    content: "Not logged in"; }

/*# sourceMappingURL=maps/bar.css.map */
