html {
	background: hsl(220, 10%, 96%);
	font: 250%/1.2 Helvetica Neue, sans-serif;
	display: flex;
	justify-content: center;
	text-align: center;
	font-variant-numeric: tabular;
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
	padding: 0;
	margin: 0;
	max-height: 100vh;
}

.timer {
	font-size: 360%;
	line-height: 1.1;
	margin-top: 1rem;
}

.formatted {
	font-size: 50%;
}

.buttons {
	display: flex;
	align-items: center;
	margin: .5em 0;
}

	button {
		font: inherit;
		margin: .2em;
		font-weight: bold;
		background: hsl(220, 10%, 90%);
		border: 1px solid rgba(0,0,0,.1);
		padding: .2em .4em;
		cursor: pointer;
		flex: 1;
		width: 5.5em;
		white-space: nowrap;
		background: hsl(75, 60%, 70%);
	}

	.pause {
		background: hsl(0, 50%, 80%);
	}

.history {
	flex: 1;
	overflow: auto;
}

@media (max-width: 600px) {
	.buttons {
		flex-flow: column;
	}
}
