body {
	background: hsl(220, 10%, 96%);
	font: 250%/1.5 Helvetica Neue, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	padding: 0;
	min-height: 100vh;
}

button {
	font: inherit;
	margin: .5em;
	font-weight: bold;
	background: hsl(220, 10%, 90%);
	border: 1px solid rgba(0,0,0,.1);
	padding: 0 .4em;
	cursor: pointer;
}

.timer {
	min-width: 4.2em;
	font-size: 350%;
	text-align: center;
}

.buttons {
	display: flex;
}

	.buttons button {
		flex: 1;
	}
