<footer>
	<p>
		Made with &hearts; by <a href="https://lea.verou.me">Lea Verou</a> and <a href="https://github.com/mavoweb/mavo/graphs/contributors">all these awesome people</a>.
		Proudly hosted by <a href="https://www.netlify.com" class="netlify">Netlify</a>.
	</p>
	<article>
		<h1>Explore</h1>

		<ul>
			<li><a href="@@webRoot/docs/primer">Get started</a></li>
			<li><a href="@@webRoot/docs">Docs</a></li>
			<li><a href="@@webRoot/demos">Demos</a></li>
			<li><a href="@@webRoot/faq">FAQ</a></li>
			<li><a href="https://plugins.mavo.io">Plugins</a></li>
			<li><a href="@@webRoot/get">Get Mavo</a></li>
			<li><a href="https://test.mavo.io">Testsuite</a></li>
			<li><a href="@@webRoot/credits">Credits</a></li>
		</ul>
	</article>
	<article>
		<h1>Social Mavo</h1>

		<ul>
			<li><a href="https://twitter.com/mavoweb">Follow @mavoweb on Twitter</a></li>
			<li><a href="https://gitter.im/mavoweb">Chat with us on Gitter</a></li>
			<li>
				<a href="https://github.com/mavoweb/mavo">Github</a>
				<a class="github-button" href="https://github.com/mavoweb/mavo" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star mavoweb/mavo on GitHub">Star</a>
			</li>
		</ul>
	</article>

	<a href="https://mit.edu" class="logo"><img src="@@webRoot/img/logo-mit.svg" alt="MIT" /></a>
	<a href="https://csail.mit.edu" class="logo"><img src="@@webRoot/img/logo-csail.svg" alt="CSAIL" /></a>
</footer>

<script src="@@webRoot/js/prism.js"></script>
<script src="/sitewide.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96752780-1', 'auto');
  ga('send', 'pageview');

</script>
