<footer>
	<div>
		<p>
			Made with &hearts; by <a href="http://lea.verou.me">Lea Verou</a> and <a href="https://github.com/LeaVerou/mavo/graphs/contributors">contributors</a>
			&bull; <a href="https://twitter.com/mavohtml">@mavohtml on 🐦 Twitter</a>
			&bull; <a href="https://github.com/leaverou/mavo">Github</a>
		</p>
		<p>This work was supported in part by a collaborative grant from the <a href="http://www.wistron.com/">Wistron Corporation</a>.</p>
	</div>


	<a href="http://mit.edu" class="logo"><img src="/img/logo-mit.svg" alt="MIT" /></a>
	<a href="http://csail.mit.edu" class="logo"><img src="/img/logo-csail.svg" alt="CSAIL" /></a>
</footer>
