<p class="notice warning">Mavo was released publicly on May 16th, 2017 and is currently in mature beta (gamma? 😝).
	This doesn’t mean you can’t use it in production, just make sure to test things well, and if you are going to hand off the site, use a specific Mavo version or local files.
	Play around with it and <a href="https://github.com/mavoweb/mavo/issues/new">let us know</a> if you encounter any bugs!
	Or, if you just like Mavo and want to <a href="https://gitter.im/mavoweb">tell us</a>, we’d love that too! 😊
</p>
