%button {
	display: inline-block;
	vertical-align: bottom;
	padding: .4em .8em;
	border-radius: .3em;
	margin: 0 .3em;
	cursor: pointer;
	background: hsla(220, 10%, 50%, .7);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	line-height: 1.25;
	font-weight: bold;

	&:hover, &:focus {
		background: hsl(220, 10%, 50%);
	}
}

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	height: 100vh;
	font: 100%/1.5 sans-serif;

	& > h1 {
		text-align: center;
		font-weight: 300;
		font-size: 350%;
	}
}

body > header {
	display: flex;
	align-items: center;
	padding: .5em;
	background: hsl(220, 10%, 50%);
	color: white;

	.mv-bar {
		display: inline;

		// .mv-save::before {
		// 	content: "💾 ";
		// }

		.mv-clear::before {
			content: "❌ ";
			vertical-align: 0;
		}

		.mv-export {
			&::before {
				content: "⬇️ ";
			}
		}

		.mv-import {
			&::before {
				content: "⬆️ ";
			}
		}
	}

	h1 {
		flex: 1;
		margin: 0;
		font-size: 130%;
		line-height: 1;
		letter-spacing: -.05em;

		a, button, .mv-button {
			@extend %button;
			padding: .5em .6em .3em;
			border: 0;
			background: white;
			letter-spacing: normal;

			&:hover,
			&:active,
			&:focus {
				background: hsla(0,0%,100%,.4);
			}

			&:not(:hover):not(:active):not(:focus) {
				color: hsl(220, 10%, 50%);
			}
		}
	}

	input[type=number] {
		background: hsla(0,0%,100%,.3);
		border-color: hsla(0,0%,100%,.5);
		color: white;
	}

	input[type=range] {
		width: 2em;
	}

	& > section {
		padding: 0 .5em;
	}
}

main {
	flex: 1;
	display: flex;
}

main > section {
	& > h1 {
		font-weight: 300;
		font-size: 200%;
	}
}

.editor {
	display: flex;
	flex-flow: column;
	flex: 1;
	padding: 0 1em 1em;

	& > h1 {
		details {
			font-size: 1rem;

			::-webkit-details-marker {
				display: none;
			}

			summary {
				@extend %button;
			}

			summary::before {
				content: "Show ";
			}

			&:not([open]) {
				display: inline-block;
			}

			&[open] summary {
				margin-bottom: .5em;

				&::before {
					content: "Hide "
				}
			}
		}

		textarea {
			display: block;
			box-sizing: border-box;
			width: 100%;
			font: 100% Consolas, Monaco, monospace;
			white-space: normal;
		}
	}

	& > div {
		flex: 1;
		overflow: auto;
	}

	.mv-add-segment {
		font-size: 130%;
		font-weight: bold;
		letter-spacing: -.05em;
	}
}

.preview {
	display: flex;
	flex-flow: column;
	width: 50vw;

	svg {
		flex: 1;
		background: hsl(0,0%,90%);
		display: block;
		overflow: visible;

		rect {

		}

		circle {
			fill: red;
		}

		pattern {
			stroke: black;
			stroke-width: 2px;
			stroke-opacity: .15;
		}

		* {
			transform-box: fill-box;
		}
	}
}

[property=segment] {
	--color: hsl(220, 10%, 50%);
	position: relative;
	margin: .8em 0;
	border: 1px solid var(--color);
	border-radius: .3em;
	background: linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.8)) var(--color);

	&.mv-deleted {
		padding: 1em;

		&::before {
			content: none;
		}
	}

	.mv-item-bar {
		position: static;
		opacity: 1 !important;
		border: 0;

		&:not(:hover):not(:focus) {
			mix-blend-mode: multiply;
		}
	}

	h1 {
		display: flex;
		align-items: center;
		padding: .5em;
		padding-left: 3em;
		margin: 0;
		background: var(--color);
		color: hsla(0,0%,100%,.8);

		input[type=number] {
			border-color: hsla(0,0%,100%,.5);
			color: white;
		}
	}

	&::before {
		content: attr(data-segtype);
		min-width: 1em;
		position: absolute;
		top: .5em; left: .5em;
		padding: .3em;
		border-radius: 50%;
		margin-right: .5em;
		color: var(--color);
		background: hsla(0,0%,100%,.8);
		font-size: 120%;
		text-align: center;
		line-height: 1;
	}

	&.absolute::before {
		text-transform: uppercase;
	}

	&[data-segtype="m"] {
		--color: hsl(90, 50%, 45%);
	}

	&[data-segtype="l"] {
		--color: #f47;
	}

	&[data-segtype="h"] {
		--color: hsl(210, 40%, 50%);
	}

	&[data-segtype="v"] {
		--color: hsl(10, 70%, 45%);
	}

	&[data-segtype="a"] {
		--color: hsl(170, 40%, 50%);
	}

	label {
		margin-right: .5em;
	}

	input[type=number] {
		border-color: white;
		background: hsla(0,0%,100%,.3);
	}

	& > div {
		padding: 1em;
	}
}

input[type=number] {
	width: 3em;
	border-radius: .2em;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
}

select[property="type"] {
	margin-right: auto;
	background: transparent;
	border: 1px solid hsla(0,0%,100%,.2);
	color: white;
	font: inherit;
	font-size: 120%;
	font-weight: 200;
	width: 10em;

	option {
		background: var(--color);
	}
}

label {
	display: inline-block;
}

fieldset {
	border: 1px solid silver;
	border-radius: .4em;
}

	fieldset > label {
		width: 24%;
	}

input {
	padding: .1em .4em;
	font: inherit;
}

button {
	cursor: pointer;
}
