body {
  font: 100%/1.5 sans-serif; }
  body > h1 {
    text-align: center;
    font-weight: 300;
    font-size: 350%; }

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

main > section {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  main > section > h1 {
    font-weight: 300;
    font-size: 200%; }

main > section > svg {
  max-height: 90vh;
  max-width: 100%; }

svg {
  display: block;
  overflow: visible; }

svg * {
  transform-box: fill-box; }

[property=segment] {
  --color: #737b8c;
  position: relative;
  margin: .8em 0;
  border: 1px solid var(--color);
  border-radius: .3em;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) var(--color); }
  [property=segment] .mv-item-controls {
    position: static;
    opacity: 1;
    border: 0;
    pointer-events: auto; }
    [property=segment] .mv-item-controls:not(:hover):not(:focus) {
      mix-blend-mode: multiply; }
  [property=segment] h1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5em;
    padding-left: 3em;
    margin: 0;
    background: var(--color);
    color: rgba(255, 255, 255, 0.8); }
    [property=segment] h1 input[type=number] {
      border-color: rgba(255, 255, 255, 0.5);
      color: white; }
  [property=segment]::before {
    content: attr(data-segtype);
    min-width: 1em;
    position: absolute;
    top: .5em;
    left: .5em;
    padding: .3em;
    border-radius: 50%;
    margin-right: .5em;
    color: var(--color);
    background: rgba(255, 255, 255, 0.8);
    font-size: 120%;
    text-align: center;
    line-height: 1; }
  [property=segment].absolute::before {
    text-transform: uppercase; }
  [property=segment][data-segtype="m"] {
    --color: #73ac39; }
  [property=segment][data-segtype="l"] {
    --color: #f47; }
  [property=segment][data-segtype="h"] {
    --color: #4d80b3; }
  [property=segment][data-segtype="v"] {
    --color: #c33d22; }
  [property=segment][data-segtype="a"] {
    --color: #4db3a2; }
  [property=segment] label {
    margin-right: .5em; }
  [property=segment] input[type=number] {
    border-color: white;
    background: rgba(255, 255, 255, 0.3); }
  [property=segment] > div {
    padding: 1em; }

input[type=number] {
  width: 3em;
  border-radius: .2em;
  font-weight: bold;
  border-width: 1px;
  border-style: solid; }

select[property="type"] {
  margin-right: auto;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font: inherit;
  font-size: 120%;
  font-weight: 200; }

label {
  display: inline-block; }

fieldset {
  border: 1px solid silver;
  border-radius: .4em; }

fieldset > label {
  width: 24%; }

input {
  padding: .1em .4em;
  font: inherit; }

svg {
  margin-left: 1em;
  background: linear-gradient(#ddd 1px, transparent 1px), linear-gradient(to right, #ddd 1px, transparent 1px);
  background-size: 50px 50px; }

.editor > h1 details summary, .preview h1 a {
  padding: .4em .8em;
  border-radius: .3em;
  cursor: pointer;
  background: rgba(115, 123, 140, 0.7);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 300; }
  .editor > h1 details summary:hover, .preview h1 a:hover, .editor > h1 details summary:focus, .preview h1 a:focus {
    background: #737b8c; }

.editor > h1 details {
  font-size: 1rem; }
  .editor > h1 details ::-webkit-details-marker {
    display: none; }
  .editor > h1 details summary {
    display: inline-block; }
  .editor > h1 details summary::before {
    content: "Show "; }
  .editor > h1 details:not([open]) {
    display: inline-block; }
  .editor > h1 details[open] summary::before {
    content: "Hide "; }

.editor > h1 textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font: 100% Consolas, Monaco, monospace;
  white-space: normal; }

/*# sourceMappingURL=style.css.map */
