
:root {
	--pro-color-hs: 80 80%;
	--pro-color-hsl: var(--pro-color-hs) 50%;
	--pro-color: hsl(var(--pro-color-hsl));

	--maybe-color-hs: 51 100%;
	--maybe-color-hsl: var(--maybe-color-hs) 50%;
	--maybe-color: hsl(var(--maybe-color-hsl));

	--con-color-hs: 0 100%;
	--con-color-hsl: var(--con-color-hs)  50%;
	--con-color: hsl(var(--con-color-hsl));

	--background: hsl(220 8% 60%);
}

:root.vs {
	--con-color-hs: 200 80%;
	--con-color-hsl: var(--con-color-hs)  50%;
	--con-color: hsl(var(--con-color-hsl));
}

body {
	min-height: 100vh;
	box-sizing: border-box;
	padding: 1em;
	background: var(--background);
	font: 100% Helvetica Neue, sans-serif;
	text-align: center;
}

button {
	cursor: pointer;
}

main {
	font-size: 120%;
}

main > h1 {
	position: relative;
	width: fit-content;
	margin: .5em auto 1em;
	color: white;
	font-size: 177%;
	line-height: 1.1
}

main > h1 span {
		display: block;
		color: black;
		position: relative;
		z-index: 1;
	}

html:not(.vs) main > h1::before,
	html:not(.vs) main > h1::after {
		content: "?";
		position: absolute;
		left: 90%;
		top: -0.5rem;
		min-width: 1.1em;
		text-align: center;
		border-radius: 50%;

		color: var(--background);
		font-size: 250%;
		font-weight: bold;
	}

html:not(.vs) main > h1::before {
		background: rgba(0,0,0,.1);
		z-index: -1;
		color: transparent;
	}

h1 {
	text-align: center;
}

article {
	--padding: 2.5em;

	position: relative;
	display: flex;
	flex-wrap: wrap;
	max-width: 35em;
	padding: var(--padding);
	margin: 2em auto;
	background: white;
	color: black;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3)
}

article > header {
		width: 100%;
		padding: inherit;
		padding-bottom: calc(var(--padding) / 2);
		margin: calc(-1 * var(--padding));
		margin-bottom: 0;
		transition: .5s background
	}

article > header.answer {
			background: hsl(var(--color-hs) 40%);
			color: white;
		}

article > header.answer-Yes {
			--color-hs: var(--pro-color-hs);
		}

article > header.answer-Maybe {
			--color-hs: var(--maybe-color-hs);
			background: gold;
			color: black;
		}

article > header.answer-No {
			--color-hs: var(--con-color-hs);
		}

article > header h1 {
			margin: 0;
			font-size: 250%;
			font-weight: 300
		}

article > header h1 + p {
				text-align: center;
			}

article > section {
		--color: hsl(var(--color-hs) 50%);
		flex: 1;
		margin: 2em 1px 0;
		text-align: left
	}

article > section h2 {
			color: white;
			margin: 0;
			padding: .3rem .5rem;
			border-bottom: .2em solid;
			line-height: 1;
			font-weight: normal;
			color: hsl(var(--color-hs) 40%);
		}

article > section ul {
			list-style: none;
			padding: 0;
			margin: 0
		}

article > section ul li {
				margin: 1px 0;
				transition: .5s background;
				padding: .8em;
				background: hsl(var(--color-hs) 90%);
				color: hsl(var(--color-hs) 20%)
			}

article > section ul li p {
					margin: 0;
				}

article > section ul li meter {
					--width: 8em;
					display: inline-block;
					vertical-align: middle;
					width: var(--width);
					height: .8em;
					margin-right: .3em;
					background: transparent
				}

article > section ul li meter::-webkit-meter-bar {
						background: transparent;
						border: 1px solid;
						border-left-width: calc(var(--width) / 5);
					}

article > section ul li meter::-webkit-meter-optimum-value,
					article > section ul li meter::-webkit-meter-suboptimum-value {
						background: currentColor;
					}

article > section .weight {
			margin-top: 1em;
			font-size: 80%;
			color: hsl(var(--color-hs) 30%);
		}

article > section .reason {
			--overlay: hsl(0 0% 100% / calc(.9 - .05 * var(--weight)));
			background: hsl(var(--color-hs) 50%) linear-gradient(var(--overlay), var(--overlay));
		}

article > section {

		/* Pros */
	}

article > section:first-of-type {
			--color-hs: var(--pro-color-hs);
		}

article > section {

		/* Cons */
	}

article > section:nth-of-type(2) {
			--color-hs: var(--con-color-hs);
		}

main .mv-add-decision {
	padding: .4em .6em;
	border: 1px solid rgba(0,0,0,.05);
	background: rgb(0 0 0 / .15);
	color: white;
	font-size: 120%;
	border-radius: .2em
}

main .mv-add-decision:hover {
		background: rgb(0 0 0 / .25);
	}

footer {
	margin-top: 2em;
	color: rgb(0 0 0 / .35);
}

::placeholder {
	color: inherit;
	opacity: .6;
}
