<!DOCTYPE html>
<html lang="en" class="demos">
<head>
	<meta charset="UTF-8">
	<title>Mavo Demos</title>
	<link rel="stylesheet" href="/mavo/mavo.css" />
	<link rel="stylesheet" href="/css/style.css">
	<link rel='stylesheet' href='/css/demos.css'>
</head>


<body>

<header>
	<h1 class="logo">
		<a href="/"><img src="/logo.svg" alt="Mavo"></a>
	</h1>
</header>

<h2>Demos</h2>

<section mv-app="demos" mv-storage="https://github.com/LeaVerou/leaverou.github.io/demos.json">
	<meta property="tagFilter" content="[urlOption('tag')]">
	<p class="notice" mv-if="tagFilter">
		Some demos are hidden. <a href="?">Show All.</a>
	</p>
	<div>
		<article property="demo" mv-multiple mv-if="!tagFilter or count(tag = tagFilter) > 0">
			<a href="/demos/[id]">
				<video src="/videos/[id].mp4" preload="metadata" loop tabindex="0"></video>
				<h1 property="name"></h1>
			</a>
			<a href="?tag=[tag]" property="tag" mv-attribute="null" mv-multiple></a>
			<meta property="id">
		</article>
	</div>

	<p class="tip">Add <code>?debug</code> to the URL to view in debug mode!</p>
</section>

<section>
	<h1>Mavo in the wild</h1>
	<ul>
		<li><a href="http://lea.verou.me/speaking/">Speaking | Lea Verou</a></li>
		<li><a href="http://svgees.us/talks.html">Chris Lilley: Talks</a></li>
	</ul>
	<p>Made a cool Mavo app? We'd love to see it and feature it here, please <a href="http://github.com/leaverou/mavo/issues">get in touch</a>!</p>
</section>

<script src="/mavo/mavo.js"></script>
<script>
$.events(document.body, "mouseenter mouseleave focus blur", function(evt) {
	if (evt.target.matches && evt.target.matches("article")) {
		var video = $("video", evt.target);

		if (video && !video.error) {
			var play = evt.type === "mouseenter" || evt.type === "focus";
			video[play? "play" : "pause"]();
		}
	}
}, true);
</script>

<footer>
	<div>
		<p>
			Made with &hearts; by <a href="http://lea.verou.me">Lea Verou</a> and <a href="https://github.com/LeaVerou/mavo/graphs/contributors">contributors</a>
			&bull; <a href="https://twitter.com/mavohtml">@mavohtml on 🐦 Twitter</a>
			&bull; <a href="https://github.com/leaverou/mavo">Github</a>
		</p>
		<p>This work was supported in part by a collaborative grant from the <a href="http://www.wistron.com/">Wistron Corporation</a>.</p>
	</div>


	<a href="http://mit.edu" class="logo"><img src="/img/logo-mit.svg" alt="MIT" /></a>
	<a href="http://csail.mit.edu" class="logo"><img src="/img/logo-csail.svg" alt="CSAIL" /></a>
</footer>


</body>
</html>
