<!DOCTYPE html>
<html lang="en" class="demos">
<head>
	<meta charset="UTF-8">
	<title>Mavo Demos</title>
	<link rel="stylesheet" href="/mavo/mavo.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="icon" href="/favicon.ico">

	<link rel='stylesheet' href='/demos/style.css'>

	<script src="/mavo/mavo.js"></script>
</head>


<body>

<header>
	<h1 class="logo">
		<a href="/"><img src="../logo.svg" alt="Mavo"></a>
	</h1>
	<nav>
	<a href="../docs/primer">Get started</a>
	<a href="../docs">Docs</a>
	<a href="../demos">Demos</a>
	<a href="../faq">FAQ</a>
	<a href="https://plugins.mavo.io">Plugins</a>
	<a href="../get">Get Mavo</a>
</nav>

</header>

<h2>Demos</h2>

<section mv-app="demos" mv-storage="https://github.com/LeaVerou/mavo.io/demos/demos.json" mv-source="http://mavo.io/demos/demos.json">
	<meta property="tagFilter" content="[$url.tag]">
	<p class="notice" mv-if="tagFilter">
		Some demos are hidden. <a href="?">Show All.</a>
	</p>
	<div>
		<article property="demo" mv-multiple mv-if="!tagFilter or count(tag = tagFilter) > 0">
			<a href="/demos/[id]">
				<video src="/videos/[id].mp4" preload="metadata" loop tabindex="0"></video>
				<h1 property="name"></h1>
			</a>
			<a href="?tag=[tag]" property="tag" mv-attribute="null" mv-multiple></a>
			<meta property="id">
		</article>
	</div>

	<p class="tip">Use <code>?storage=<em>your_path</em></code> in the URL of any of these demos to change its data source! <a href="/docs/storage/#url-params">Learn More</a></p>
</section>

<section>
	<h1>Mavo in the wild</h1>
	<ul>
		<li><a href="http://lea.verou.me/speaking/">Speaking | Lea Verou</a></li>
		<li><a href="http://svgees.us/talks.html">Chris Lilley: Talks</a></li>
	</ul>
	<p>Made a cool Mavo app? We'd love to see it and feature it here, please <a href="http://github.com/mavoweb/mavo/issues">get in touch</a>!</p>
</section>

<script>
// Javascript to play videos on hover
$.events(document.body, "mouseenter mouseleave focus blur", function(evt) {
	if (evt.target.matches && evt.target.matches("article")) {
		var video = $("video", evt.target);

		if (video && !video.error) {
			var play = evt.type === "mouseenter" || evt.type === "focus";
			video[play? "play" : "pause"]();
		}
	}
}, true);
</script>

<footer>
	<p>
		Made with &hearts; by <a href="http://lea.verou.me">Lea Verou</a> and <a href="https://github.com/mavoweb/mavo/graphs/contributors">all these awesome people</a>
	</p>
	<article>
		<h1>Explore</h1>

		<ul>
			<li><a href="/docs/primer">Get started</a></li>
			<li><a href="/docs">Docs</a></li>
			<li><a href="/demos">Demos</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="https://plugins.mavo.io">Plugins</a></li>
			<li><a href="/get">Get Mavo</a></li>
			<li><a href="https://test.mavo.io">Testsuite</a></li>
			<li><a href="/credits">Credits</a></li>
		</ul>
	</article>
	<article>
		<h1>Social Mavo</h1>

		<ul>
			<li><a href="https://twitter.com/mavoweb">Follow @mavoweb on Twitter</a></li>
			<li><a href="https://gitter.im/mavoweb">Chat with us on Gitter</a></li>
			<li><a href="https://github.com/mavoweb/mavo">Github</a></li>
		</ul>
	</article>

	<a href="http://mit.edu" class="logo"><img src="../img/logo-mit.svg" alt="MIT" /></a>
	<a href="http://csail.mit.edu" class="logo"><img src="../img/logo-csail.svg" alt="CSAIL" /></a>
</footer>


<script src="../js/prism.js"></script>
<script src="../js/sitewide.js"></script>


</body>
</html>
