@@include('_head-demos.html')
<body>

@@include('_header.html')
<h2>Demos</h2>

<section mv-app="demos" mv-storage="https://github.com/LeaVerou/mavo.io/demos/demos.json" mv-source="http://mavo.io/demos/demos.json">
	<meta property="tagFilter" content="[$url.tag]">
	<p class="notice" mv-if="tagFilter">
		Some demos are hidden. <a href="?">Show All.</a>
	</p>
	<div>
		<article property="demo" mv-multiple mv-if="!tagFilter or count(tag = tagFilter) > 0">
			<a href="/demos/[id]">
				<video src="/videos/[id].mp4" preload="metadata" loop tabindex="0"></video>
				<h1 property="name"></h1>
			</a>
			<a href="?tag=[tag]" property="tag" mv-attribute="null" mv-multiple></a>
			<meta property="id">
		</article>
	</div>

	<p class="tip">Use <code>?storage=<em>your_path</em></code> in the URL of any of these demos to change its data source! <a href="/docs/storage/#url-params">Learn More</a></p>
</section>

<section>
	<h1>Mavo in the wild</h1>
	<ul>
		<li><a href="http://lea.verou.me/speaking/">Speaking | Lea Verou</a></li>
		<li><a href="http://svgees.us/talks.html">Chris Lilley: Talks</a></li>
	</ul>
	<p>Made a cool Mavo app? We'd love to see it and feature it here, please <a href="http://github.com/leaverou/mavo/issues">get in touch</a>!</p>
</section>

<script>
// Javascript to play videos on hover
$.events(document.body, "mouseenter mouseleave focus blur", function(evt) {
	if (evt.target.matches && evt.target.matches("article")) {
		var video = $("video", evt.target);

		if (video && !video.error) {
			var play = evt.type === "mouseenter" || evt.type === "focus";
			video[play? "play" : "pause"]();
		}
	}
}, true);
</script>

@@include('_footer.html')

</body>
</html>
