@import "../css/vars";

section[mv-app="demos"] {
	&[mv-permissions~="login"] > .mv-bar {
		display: none;
	}

	& > div {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: auto;
		width: 100%;
	}
}

article[property="demo"] {
	position: relative;
	vertical-align: top;
	width: 30rem;
	margin: .2em;
	box-shadow: 0 0 .1em rgba(0,0,0,.2);
	background: url("/logo.svg") center / 40% auto no-repeat hsl(220, 10%, 90%);
	background-blend-mode: luminosity;

	& > div {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 1em;
		background: rgba(0,0,0,.6);
		color: white;
		overflow: hidden;
		max-height: 0;
		transition: 1s;
	}

	&:hover > div,
	&:focus > div {
		padding-bottom: 1em;
		max-height: 10rem;
	}

	h1 {
		margin: .3em 0;
		font-family: $heading-font;
		font-size: 180%;
		color: white;
	}

	video {
		display: block;
		width: 100%;
	}
}

a[property="tag"] {
	display: inline-block;
	padding: .1em .4em;
	margin-right: .3em;
	border-radius: .3em;
	background: $blue;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 75%;
}

html:not(.lite) main {
	padding: 1rem;
	margin: 1rem 1rem 2rem;
	border-radius: .5rem;
	box-shadow: .05em .05em .5em rgba(0,0,0,.3);
}

.lite {
	body > header,
	body > header + h2,
	body > footer,
	body > section > h1 {
		display: none;
	}

	body > section {
		align-items: stretch;
		justify-content: stretch;
		padding: 0;
	}

	main {
		max-width: none;
		width: auto;
		min-height: 100vh;
		padding: 1em;
		box-sizing: border-box;
	}
}
