@import "../css/vars";

.demos body {
	background: hsl(220, 10%, 93%);
}

section[mv-app="demos"] {
	width: auto;
	margin: 0 1em;

	&[mv-permissions~="login"] > .mv-bar {
		display: none;
	}

	& > div {
		// display: flex;
		// flex-flow: row wrap;
		// justify-content: center;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
		grid-auto-flow: dense;
		grid-gap: .8em;
		margin: auto;
		width: 100%;
	}
}

article[property="demo"] {
	position: relative;
	display: flex;
	vertical-align: top;
	width: min-content;
	grid-row-end: span 2;

	&.featured {
		order: -1;
		flex-flow: column;
	}

	&:not(.featured) {
		width: 29rem;

		h1 {
			font-size: 120%;
			margin-top: 0;
		}
	}

	&.has-video {
		&::before {
			content: "🎬";
			position: absolute;
			z-index: 1;
			top: .3em;
			left: .3em;
			font-size: 150%;
			transition: .5s opacity;
		}

		&:hover::before,
		&:focus::before {
			opacity: 0;
			z-index: 20;
		}
	}

	&.external {
		&::after {
			content: "➦";
			position: absolute;
			top: 0;
			right: 0;
			width: 2em;
			height: 2em;
			padding: 0 .2em;
			box-sizing: border-box;
			text-align: right;
			clip-path: polygon(0 0, 100% 0, 100% 100%);
			background: $green;
			color: white;
			font-size: 200%;
			pointer-events: none;
		}
	}

	& > div {
		padding: 0 1em;
	}

	h1 {
		margin: .3em 0;
		font-family: $heading-font;
		font-size: 180%;
		text-shadow: .05em .05em white;
	}
}

[property="video"],
[property="image"] {
	display: block;
	width: 28rem;
	box-shadow: 0 0 .2em rgba(0,0,0,.2);
	object-fit: cover;

	&.mv-empty {
		background: url("/logo.svg") center / 40% auto no-repeat hsl(220, 10%, 90%);
		background-blend-mode: luminosity;
		height: 6rem;
	}

	article:not(.featured) & {
		width: 14rem;
	}
}

[property="video"] {
	position: relative;
	transition: transform, z-index step-end;
	transition-duration: .4s;
	transform-origin: top left;
	z-index: 0;

	&.playing {
		transform: scale(2);
		transition-timing-function: ease, step-start;
		transition-delay: .5s;
		z-index: 3;

		article.featured & {
			transform: scale(1.4);
		}
	}



	&[mv-mode="edit"] + img[property="image"] {
		margin-top: 1rem;
	}

	&:not(.mv-empty) + img[property="image"] {
		display: none;
	}
}

[property="image"] {
	object-position: top;
}

[property=description] {
	font-weight: 400;
	font-size: 80%;

	p:only-of-type {
		margin: .3em 0;
	}

	a {
		color: mix($blue, black);
	}
}

a[property="tag"] {
	display: inline-block;
	padding: .1em .4em;
	margin-right: .3em;
	border-radius: .3em;
	color: $blue;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 75%;

	&:hover {
		background: white;
	}

	&::before {
		content: "#";
		display: inline-block;
		vertical-align: 0;
		margin-right: .1em;
		color: mix($blue, white, 60%);
		font-size: 130%;
	}
}

[property="featured"] {
	display: inline-block;
	vertical-align: .3em;
	padding: .4em .5em;
	border-radius: .25em;
	background: $orange;
	color: white;
	text-shadow: none;
	text-transform: uppercase;
	font: bold 40%/1 $body-font;

	&::before {
		content: "★ ";
		opacity: .7;
	}
}

html:not(.lite) body:not(.has-demo-bar) main {
	padding: 1rem;
	margin: 1rem 1rem 2rem;
	border-radius: .5rem;
	box-shadow: .05em .05em .5em rgba(0,0,0,.3);
}

.lite {
	body > header,
	body > header + h2,
	body > footer,
	body > section > h1,
	body > section#code {
		display: none;
	}

	body {
		padding: 0;
		align-items: stretch;
		justify-content: stretch;
	}

	body > section,
	body > div:not(.mv-popup) {
		width: auto;
		max-width: none;
		display: block;
		padding: 0;
		margin: 0;
	}

	main {
		max-width: none;
		width: auto;
		min-height: 100vh;
		padding: 1em;
		box-sizing: border-box;
	}
}

body.has-demo-bar {
	margin-top: 3rem;
}

.demo-bar.demo-bar.demo-bar {
	position: absolute;
	top: 0;
	left: 0; right: 0;
	display: flex;
	padding: .4em .2em;
	background: black;
	color: white;
	font: bold 1rem/1.5 $body-font;

	@media print {
		display: none;
	}

	& > * {
		min-width: 1em;
		padding: .3em .7em;
		border: none;
		border-radius: .2em;
		margin: 0 .2em;
		background: hsla(0,0%,100%,.15);
		text-align: center;
		font: inherit;
		color: inherit;
		text-decoration: none;
		cursor: pointer;

		&.previous {
			margin-right: auto;
		}

		&.next {
			margin-left: auto;
		}

		&.home:not(:hover) {
			filter: grayscale(100%);
		}
	}

	& > [href]:hover,
	& > :enabled:hover {
		background: $magenta;
	}

	& > a:not([href]),
	& > :disabled {
		opacity: .5;
		cursor: not-allowed;
	}
}

.tippy-popper .tippy-tooltip.tippy-tooltip {
	background: white;
	color: black;
	padding: .5rem;
	border-radius: .5rem;
	box-shadow: .1em .1em 2em rgba(0,0,0,.2);
	transform-origin: top;

	pre {
		line-height: 1.5;
		max-height: 80vh;
		background-attachment: local;
	}

	.tippy-arrow {
		border-bottom-color: white;
	}
}
