@import "../css/vars";

section[mv-app="demos"] {
	width: auto;

	&[mv-permissions~="login"] > .mv-bar {
		display: none;
	}

	& > div {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: auto;
		width: 100%;
	}
}

article[property="demo"] {
	position: relative;
	vertical-align: top;
	width: 29.5rem;
	margin: .2em;
	box-shadow: 0 0 .1em rgba(0,0,0,.2);
	background: url("/logo.svg") center / 40% auto no-repeat hsl(220, 10%, 90%);
	background-blend-mode: luminosity;

	& > div {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 1em;
		background: rgba(0,0,0,.6);
		color: white;
		overflow: hidden;
		max-height: 0;
		transition: 1s;
	}

	&:hover > div,
	&:focus > div,
	&[mv-mode="edit"] > div {
		padding-bottom: 1em;
		max-height: 10rem;
	}

	h1 {
		margin: .3em 0;
		font-family: $heading-font;
		font-size: 180%;
		color: white;
	}

	video {
		display: block;
		width: 100%;
	}
}

a[property="tag"] {
	display: inline-block;
	padding: .1em .4em;
	margin-right: .3em;
	border-radius: .3em;
	background: $blue;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 75%;
}

html:not(.lite) body:not(.has-demo-bar) main {
	padding: 1rem;
	margin: 1rem 1rem 2rem;
	border-radius: .5rem;
	box-shadow: .05em .05em .5em rgba(0,0,0,.3);
}

.lite {
	body > header,
	body > header + h2,
	body > footer,
	body > section > h1,
	body > section#code {
		display: none;
	}

	body {
		padding: 0;
		align-items: stretch;
		justify-content: stretch;
	}

	body > section,
	body > div:not(.mv-popup) {
		width: auto;
		max-width: none;
		display: block;
		padding: 0;
		margin: 0;
	}

	main {
		max-width: none;
		width: auto;
		min-height: 100vh;
		padding: 1em;
		box-sizing: border-box;
	}
}

body.has-demo-bar {
	margin-top: 3rem;
}

.demo-bar.demo-bar.demo-bar {
	position: absolute;
	top: 0;
	left: 0; right: 0;
	display: flex;
	padding: .4em .2em;
	background: black;
	color: white;
	font: bold 1rem/1.5 $body-font;

	@media print {
		display: none;
	}

	& > * {
		min-width: 1em;
		padding: .3em .7em;
		border: none;
		border-radius: .2em;
		margin: 0 .2em;
		background: hsla(0,0%,100%,.15);
		text-align: center;
		font: inherit;
		color: inherit;
		text-decoration: none;
		cursor: pointer;

		&.previous {
			margin-right: auto;
		}

		&.next {
			margin-left: auto;
		}

		&.home:not(:hover) {
			filter: grayscale(100%);
		}
	}

	& > [href]:hover,
	& > :enabled:hover {
		background: $magenta;
	}

	& > a:not([href]),
	& > :disabled {
		opacity: .5;
		cursor: not-allowed;
	}
}

.tippy-popper .tippy-tooltip.tippy-tooltip {
	background: white;
	color: black;
	padding: .5rem;
	border-radius: .5rem;
	box-shadow: .1em .1em 2em rgba(0,0,0,.2);
	transform-origin: top;

	pre {
		line-height: 1.5;
		max-height: 80vh;
		background-attachment: local;
	}

	.tippy-arrow {
		border-bottom-color: white;
	}
}
