section[mv-app="demos"] {
  width: auto; }
  section[mv-app="demos"][mv-permissions~="login"] > .mv-bar {
    display: none; }
  section[mv-app="demos"] > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 100%; }

article[property="demo"] {
  position: relative;
  vertical-align: top;
  width: 29.5rem;
  margin: .2em;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  background: url("/logo.svg") center/40% auto no-repeat #e3e5e8;
  background-blend-mode: luminosity; }
  article[property="demo"] > div {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 1em;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    max-height: 0;
    transition: 1s; }
  article[property="demo"]:hover > div,
  article[property="demo"]:focus > div,
  article[property="demo"][mv-mode="edit"] > div {
    padding-bottom: 1em;
    max-height: 10rem; }
  article[property="demo"] h1 {
    margin: .3em 0;
    font-family: Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
    font-size: 180%;
    color: white; }
  article[property="demo"] video {
    display: block;
    width: 100%; }

a[property="tag"] {
  display: inline-block;
  padding: .1em .4em;
  margin-right: .3em;
  border-radius: .3em;
  background: #25aff4;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75%; }

html:not(.lite) body:not(.has-demo-bar) main {
  padding: 1rem;
  margin: 1rem 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0.05em 0.05em 0.5em rgba(0, 0, 0, 0.3); }

.lite body > header,
.lite body > header + h2,
.lite body > footer,
.lite body > section > h1,
.lite body > section#code {
  display: none; }

.lite body {
  padding: 0;
  align-items: stretch;
  justify-content: stretch; }

.lite body > section,
.lite body > div:not(.mv-popup) {
  width: auto;
  max-width: none;
  display: block;
  padding: 0;
  margin: 0; }

.lite main {
  max-width: none;
  width: auto;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box; }

body.has-demo-bar {
  margin-top: 3rem; }

.demo-bar.demo-bar.demo-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: .4em .2em;
  background: black;
  color: white;
  font: bold 1rem/1.5 Roboto, "Helvetica Neue", sans-serif; }
  .demo-bar.demo-bar.demo-bar > * {
    min-width: 1em;
    padding: .3em .7em;
    border: none;
    border-radius: .2em;
    margin: 0 .2em;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer; }
    .demo-bar.demo-bar.demo-bar > *.previous {
      margin-right: auto; }
    .demo-bar.demo-bar.demo-bar > *.next {
      margin-left: auto; }
    .demo-bar.demo-bar.demo-bar > *.home:not(:hover) {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  .demo-bar.demo-bar.demo-bar > [href]:hover,
  .demo-bar.demo-bar.demo-bar > :enabled:hover {
    background: #ff0080; }
  .demo-bar.demo-bar.demo-bar > a:not([href]),
  .demo-bar.demo-bar.demo-bar > :disabled {
    opacity: .5;
    cursor: not-allowed; }

.tippy-popper .tippy-tooltip.tippy-tooltip {
  background: white;
  color: black;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 0.1em 0.1em 2em rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: top;
  transform-origin: top; }
  .tippy-popper .tippy-tooltip.tippy-tooltip pre {
    line-height: 1.5;
    max-height: 80vh;
    background-attachment: local; }
  .tippy-popper .tippy-tooltip.tippy-tooltip .tippy-arrow {
    border-bottom-color: white; }

/*# sourceMappingURL=style.css.map */
