@charset "UTF-8";
.demos body {
  background: #ebedef;
}

section[mv-app=demos] {
  width: auto;
  margin: 0 1em;
}
section[mv-app=demos][mv-permissions~=login] > .mv-bar {
  display: none;
}
section[mv-app=demos] > details + details {
  margin-top: 1.5em;
}
section[mv-app=demos] > details > summary {
  margin-bottom: 0.5em;
  font: bold 200% Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
  color: #ff9500;
}
section[mv-app=demos] > details > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-auto-flow: dense;
  grid-gap: 1.2em;
  margin: auto;
  width: 100%;
}

article[property=demo] {
  position: relative;
  display: flex;
  width: 100%;
}
article[property=demo] .media-container {
  position: relative;
  display: block;
  width: 14rem;
  flex: none;
}
article[property=demo].featured {
  order: -1;
  flex-flow: column;
  grid-row-end: span 3;
}
article[property=demo].featured .media-container {
  width: 100%;
}
article[property=demo]:not(.featured) h1 {
  font-size: 120%;
  margin-top: 0;
}
article[property=demo].has-video .media-container::before {
  content: "🎬";
  position: absolute;
  z-index: 1;
  top: 0.3em;
  left: 0.3em;
  font-size: 150%;
  transition: 0.5s opacity;
}
article[property=demo].has-video:hover .media-container::before, article[property=demo].has-video:focus .media-container::before {
  opacity: 0;
  z-index: 20;
}
article[property=demo].external .media-container::after {
  content: "➦";
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  padding: 0 0.2em;
  box-sizing: border-box;
  text-align: right;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: #82cf17;
  color: white;
  font-size: 200%;
  pointer-events: none;
}
article[property=demo] > div {
  padding: 0 1em;
}
article[property=demo] h1 {
  margin: 0.3em 0;
  font-family: Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
  font-size: 180%;
  text-shadow: 0.05em 0.05em white;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

[mv-app=demos] [property=video],
[mv-app=demos] [property=image] {
  display: block;
  width: 100%;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
  object-fit: cover;
}
[mv-app=demos] [property=video].mv-empty,
[mv-app=demos] [property=image].mv-empty {
  background: url("/logo.svg") center/40% auto no-repeat #e3e5e8;
  background-blend-mode: luminosity;
  height: 6rem;
}
[mv-app=demos] [property=video] {
  position: relative;
  transition: z-index step-end, -webkit-transform;
  transition: transform, z-index step-end;
  transition: transform, z-index step-end, -webkit-transform;
  transition-duration: 0.4s;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  z-index: 0;
}
article:not(.featured) [mv-app=demos] [property=video].playing {
  -webkit-transform: scale(2);
  transform: scale(2);
  transition-timing-function: ease, step-start;
  transition-delay: 0.5s;
  z-index: 3;
}
[mv-app=demos] [property=video][mv-mode=edit] + img[property=image] {
  margin-top: 1rem;
}
[mv-app=demos] [property=video]:not(.mv-empty) + img[property=image] {
  display: none;
}
[mv-app=demos] [property=image] {
  -o-object-position: top;
  object-position: top;
}
[mv-app=demos] [property=description] {
  font-weight: 400;
  font-size: 80%;
}
[mv-app=demos] [property=description] p:only-of-type {
  margin: 0.3em 0;
}
[mv-app=demos] [property=description] a {
  color: #13587a;
}
[mv-app=demos] a[property=tag] {
  display: inline-block;
  padding: 0.1em 0.4em;
  margin-right: 0.3em;
  border-radius: 0.3em;
  color: #25aff4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75%;
}
[mv-app=demos] a[property=tag]:hover {
  background: white;
}
[mv-app=demos] a[property=tag]::before {
  content: "#";
  display: inline-block;
  vertical-align: 0;
  margin-right: 0.1em;
  color: #7ccff8;
  font-size: 130%;
}
[mv-app=demos] [property=featured] {
  display: inline-block;
  vertical-align: 0.3em;
  padding: 0.4em 0.5em;
  border-radius: 0.25em;
  background: #ff9500;
  color: white;
  text-shadow: none;
  text-transform: uppercase;
  font: bold 40%/1 Roboto, "Helvetica Neue", sans-serif;
}
[mv-app=demos] [property=featured]::before {
  content: "★ ";
  opacity: 0.7;
}

html:not(.lite) body:not(.has-demo-bar) main {
  padding: 1rem;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.05em 0.05em 0.5em rgba(0, 0, 0, 0.3);
}

.lite body > header,
.lite body > header + h2,
.lite body > footer,
.lite body > section > h1,
.lite body > section#code {
  display: none;
}
.lite body {
  padding: 0;
  align-items: stretch;
  justify-content: stretch;
}
.lite body > section,
.lite body > div:not(.mv-popup) {
  width: auto;
  max-width: none;
  display: block;
  padding: 0;
  margin: 0;
}
.lite main {
  max-width: none;
  width: auto;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}

body.has-demo-bar {
  margin-top: 3rem;
}

.demo-bar.demo-bar.demo-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.4em 0.2em;
  background: black;
  color: white;
  font: bold 1rem/1.5 Roboto, "Helvetica Neue", sans-serif;
}
@media print {
  .demo-bar.demo-bar.demo-bar {
    display: none;
  }
}
.demo-bar.demo-bar.demo-bar > * {
  min-width: 1em;
  padding: 0.3em 0.7em;
  border: none;
  border-radius: 0.2em;
  margin: 0 0.2em;
  background: rgba(255, 255, 255, 0.15);
  text-align: center;
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.demo-bar.demo-bar.demo-bar > *.previous {
  margin-right: auto;
}
.demo-bar.demo-bar.demo-bar > *.next {
  margin-left: auto;
}
.demo-bar.demo-bar.demo-bar > *.home:not(:hover) {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.demo-bar.demo-bar.demo-bar > [href]:hover, .demo-bar.demo-bar.demo-bar > :enabled:hover {
  background: #ff0080;
}
.demo-bar.demo-bar.demo-bar > a:not([href]), .demo-bar.demo-bar.demo-bar > :disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.tippy-popper .tippy-tooltip.tippy-tooltip {
  background: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.1em 0.1em 2em rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: top;
  transform-origin: top;
}
.tippy-popper .tippy-tooltip.tippy-tooltip pre {
  line-height: 1.5;
  max-height: 80vh;
  background-attachment: local;
}
.tippy-popper .tippy-tooltip.tippy-tooltip .tippy-arrow {
  border-bottom-color: white;
}
/*# sourceMappingURL=style.css.map */
