@import "../css/vars";

body > header + h2 {
	background: $green;
}

.example {
	margin-bottom: 1em;

	& > h1 {
		color: $green;
	}

	&.color-picker .example-container {
		padding: 0;

		div[style] {
			padding: 2em;
		}

		input {
			display: block;
		}
	}

	&.scoped-expressions .example-container {
		[typeof] {
			padding: 1em;
			border: 1px solid rgba(0,0,0,.2);
			background: rgba(0,0,0,.05);
			margin: 1em;
		}
	}

	&.pow .example-container {
		font-size: 300%;

		input {
			background: rgba(0,0,0,.05);
			border: none;
		}

		input {
			text-align: center;
		}

		[property="exponent"] {
			font-size: 60%;
			vertical-align: top;
		}
	}

	&.movie .example-container {
		padding: 0;

		div[class] {
			padding: 2em;
		}
	}

	&.commentform {
		label {
			display: block;
		}

		label:first-of-type {
			display: flex;
			margin-bottom: 1em;

			input {
				flex: 1;
			}
		}

		textarea {
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: .3em;
			font: inherit;
		}
	}

	.example-container {
		position: relative;
		transform: scale(1);
		padding: 2.5em 2em 2em;
		border: 1px solid rgba(0,0,0,.3);
		margin: 1em 0 0;

		input[type="number"] {
			font-size: 150%;
			max-width: 2em;
		}

		[mv-multiple] {
			padding: .5em;
			border: 1px solid rgba(0,0,0,.1);
			margin: .5em 0;

			h1 {
				margin-top: 0;
			}
		}

		@media print {
			display: none;
		}
	}

	.mv-debug-storage {
		margin: 0;
		background: rgba(0,0,0,.06);
		color: black

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		summary {
		   display: block;
		   padding: .3em .8em;
		   background: rgba(0,0,0,.3);
		   color: white;
		   font-size: 75%;
		   font-weight: bold;
		   cursor: pointer;
		   outline: none;

		   &:hover, &:focus {
			   background: rgba(0,0,0,.6);
		   }
	   }

	   pre {
		   background: none;
		   margin: 0;
		   color: black;

		   th {
			   color: white;
		   }

			th, td {
				border-color: hsla(0,0%,0%,.1);
			}
	   }

	   @media print {
		   display: none;
	   }
	}
}

#summary {
	break-inside: avoid;

	dt {
		font-size: 120%;
		font-weight: bold;
	}
}

body > section:first-of-type:not([id]) {
	font-size: 200%;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	p::before {
		content: "In a nutshell";
		display: inline-block;
		vertical-align: text-bottom;
		padding: .25em .5em .2em;
		margin-left: -.3em;
		margin-right: .3em;
		border-radius: .3em;
		background: hsl(220, 10%, 70%);
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 55%;

	}
}

body > section table {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;

	th, td {
		text-align: left;
	}

	td {
		padding: .1em .5em;
		border: 1px solid rgba(0,0,0,.1);
	}
}

.unimplemented {
	text-decoration: line-through;
	text-decoration-style: dashed;
}

#toc {
	margin: 1em;
	overflow: hidden;
	border-radius: .4em;
	background: rgba($blue, .2);
	font-weight: bold;
	font-size: 80%;

	@media (min-width: 1300px) {
		& {
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 1;
			max-width: calc(50vw - #{$content-width/2} - 2em);
			max-height: calc(100vh - 3em);
		}
	}

	summary, ul {
		margin: 0;
		padding: .6rem;
	}

	summary {
		background: rgba($blue, .6);
		color: rgba(white, .8);
		text-transform: uppercase;
		cursor: pointer;

		&:focus {
			background: $orange;
			outline: none;
		}
	}

	ul {
		list-style: none;
		overflow: auto;
	}

	a {
		display: block;
		margin: .3em 0;
	}
}

/**
 * Syntax highlighting
 */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: $magenta;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: mix($green, black, 90%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: $blue;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
