@import "../css/vars";

h1 > a {
	color: inherit;
}

body > header + h2 {
	background: $green;
}

.example {
	&.color-picker .example-container {
		padding: 0;

		& > div:last-of-type {
			padding: 2em;
		}

		input {
			display: block;
		}
	}

	&.scoped-expressions .example-container {
		[typeof] {
			padding: 1em;
			border: 1px solid rgba(0,0,0,.2);
			background: rgba(0,0,0,.05);
			margin: 1em;
		}
	}

	&.pow .example-container {
		font-size: 300%;

		input {
			background: rgba(0,0,0,.05);
			border: none;
		}

		input {
			text-align: center;
		}

		[property="exponent"] {
			font-size: 60%;
			vertical-align: top;
		}
	}

	&.movie .example-container {
		padding: 0;

		div[class] {
			padding: 2em;
		}
	}

	&.commentform {
		label {
			display: block;
		}

		label:first-of-type {
			display: flex;
			margin-bottom: 1em;

			input {
				flex: 1;
			}
		}

		textarea {
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: .3em;
			font: inherit;
		}
	}

	.mv-debug-storage {
		margin: 0;
		background: rgba(0,0,0,.06);
		color: black

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		summary {
			display: block;
			padding: .3em .8em;
			background: rgba(0,0,0,.3);
			color: white;
			font-size: 75%;
			font-weight: bold;
			cursor: pointer;
			outline: none;

			&:hover, &:focus {
				background: rgba(0,0,0,.6);
			}
		}

		pre {
			background: none;
			margin: 0;
			color: black;

			th {
				color: white;
			}

			th, td {
				border-color: hsla(0,0%,0%,.1);
			}
		}

		@media print {
			display: none;
		}
	}
}

#summary {
	break-inside: avoid;

	dt {
		font-size: 120%;
		font-weight: bold;
	}
}

.docs > body > section:first-of-type:not([id]),
body > section#intro {
	p::before {
		content: "In a nutshell";
	}
}

section.advanced > h1 {
	color: black;

	&::before {
		content: "☠️ Advanced";
		@include run-in;
		vertical-align: .35em;
		margin-right: .5em;
		background: rgba(0,0,0,.85);
	}
}

.unimplemented {
	text-decoration: line-through;
	text-decoration-style: dashed;
}

#toc {
	margin: 1em;
	overflow: hidden;
	border-radius: .4em;
	background: rgba($blue, .2);
	font-weight: bold;
	font-size: 80%;

	@media (min-width: 1300px) {
		& {
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 1;
			max-width: calc(50vw - #{$content-width/2} - 3rem);
			max-height: calc(100vh - 3em);
		}
	}

	summary, ul {
		margin: 0;
		padding: .6rem;
	}

	summary {
		background: rgba($blue, .6);
		color: rgba(white, .8);
		text-transform: uppercase;
		cursor: pointer;

		&:focus {
			background: $orange;
			outline: none;
		}
	}

	ul {
		list-style: none;
		overflow: auto;
	}

	a {
		display: block;
		margin: .3em 0;
	}
}

.learn-more {
	font-weight: bold;
	margin-bottom: 0;

	a::before {
		content: "▸ Learn more about ";
	}

	& + & {
		margin-top: 0;
	}
}

table.attributes {
	td:nth-last-child(2) {
		background: hsl(80, 100%, 80%);
		color: hsl(80, 100%, 30%);
		text-align: center;
		vertical-align: middle;

		&.semi {
			font-size: 65%;
			font-weight: bold;
			text-transform: uppercase;

			background: hsl(50, 100%, 80%);
			color: hsl(50, 100%, 35%);
		}

		&:empty {
			background: hsl(0, 100%, 93%);
			color: hsl(0, 60%, 60%);

			&::before {
				content: "✘";
			}
		}
	}
}

[mv-app="api"] {
	h2, h3, h4, p {
		margin: 0;
	}

	[property=mavoClass] {
		margin-top: 1em;
		border: 1px solid #eee;
		padding: .8em 1em;

		& > header {
			display: flex;
			align-items: baseline;

			h2 {
				font-size: 200%;
				margin-right: .3em;
			}

			p {
				font-style: italic;
				color: gray;

				a {
					color: inherit;
				}
			}

			p:last-of-type {
				flex: 1;
				text-align: right;
			}
		}

		& > h3 {
			margin-top: 1em;
		}

		&:not([mv-mode=edit]) .no-inherits {
			display: none;
		}
	}

	[property=member] {
		border: 1px solid rgba(0,0,0,.1);
		padding: 0 .8em 0;
		margin: .3em 0;
		background: color-image(hsla(0,0%,100%,.95)) var(--color);
		background-clip: border-box;
		box-shadow: .3em 0 var(--color) inset;

		header {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: .3em .5em;
			margin: 0 -.75em 0 -.5em;
			background: color-image(hsla(0,0%,100%,.85)) var(--color);

			h4 {
				flex: 1;
			}
		}

		[property=description],
		details {
			margin: .5em 0;
		}

		&.role-property {
			--color: $magenta;
		}

		&.role-accessor {
			--color: $orange;
		}

		&.role-function {
			--color: $blue;
		}

		&.role-constructor {
			--color: $green;
		}

		[property=role],
		[property=static] {
			margin-left: .5em;
			padding: .15em .5em;
			border-radius: .3em;
			background: var(--color);
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 80%;
		}

		[property=static] {
			background: black;
		}
	}

	[property=type],
	[property=returnType],
	.type {
		font-family: $mono-font;
		font-weight: bold;
	}

	details {
		summary {
			text-transform: uppercase;
			font-size: 80%;
			font-weight: bold;
			color: hsla(0,0%,30%,.5);
			text-shadow: 0 0 var(--color);
		}
	}

	p:not(:empty) + details {
		margin-top: .5em;
	}

	&:not([mv-mode=edit]) .hide-on-read {
		display: none;
	}

	[property=argument] {
		.mv-item-bar {
			position: static;
			opacity: 1;
		}
	}
}
