@charset "UTF-8";
:root {
  --color-magenta: #ff0080;
  --color-blue: #25aff4;
  --color-green: #82cf17;
  --color-orange: #ff9500;
  --font-body: Roboto, "Helvetica Neue", sans-serif;
  --font-heading: Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
  --font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --content-width: 900px; }

h1 > a {
  color: inherit; }

body > header + h2 {
  background: #82cf17; }

.example {
  margin-bottom: 1em; }
  .example > h1 {
    color: #82cf17; }
  .example.color-picker .example-container {
    padding: 0; }
    .example.color-picker .example-container > div:last-of-type {
      padding: 2em; }
    .example.color-picker .example-container input {
      display: block; }
  .example.scoped-expressions .example-container [typeof] {
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.05);
    margin: 1em; }
  .example.pow .example-container {
    font-size: 300%; }
    .example.pow .example-container input {
      background: rgba(0, 0, 0, 0.05);
      border: none; }
    .example.pow .example-container input {
      text-align: center; }
    .example.pow .example-container [property="exponent"] {
      font-size: 60%;
      vertical-align: top; }
  .example.movie .example-container {
    padding: 0; }
    .example.movie .example-container div[class] {
      padding: 2em; }
  .example.commentform label {
    display: block; }
  .example.commentform label:first-of-type {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em; }
    .example.commentform label:first-of-type input {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .example.commentform textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .3em;
    font: inherit; }
  .example .example-container {
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
    padding: 2.5em 2em 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 1em 0 0; }
    .example .example-container input[type="number"] {
      font-size: 150%;
      max-width: 2em; }
    .example .example-container [mv-multiple] {
      padding: .5em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: .5em 0; }
      .example .example-container [mv-multiple] h1 {
        margin-top: 0; }
    @media print {
      .example .example-container {
        display: none; } }
  .example .mv-debug-storage {
    margin: 0;
    background: rgba(0, 0, 0, 0.06);
    color: black .example .mv-debug-storage; }
    .example .mv-debug-storage :not(:last-child) {
      margin-bottom: 1em; }
    .example .mv-debug-storage summary {
      display: block;
      padding: .3em .8em;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      font-size: 75%;
      font-weight: bold;
      cursor: pointer;
      outline: none; }
      .example .mv-debug-storage summary:hover, .example .mv-debug-storage summary:focus {
        background: rgba(0, 0, 0, 0.6); }
    .example .mv-debug-storage pre {
      background: none;
      margin: 0;
      color: black; }
      .example .mv-debug-storage pre th {
        color: white; }
      .example .mv-debug-storage pre th, .example .mv-debug-storage pre td {
        border-color: rgba(0, 0, 0, 0.1); }
    @media print {
      .example .mv-debug-storage {
        display: none; } }

#summary {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }
  #summary dt {
    font-size: 120%;
    font-weight: bold; }

body > section:first-of-type:not([id]),
body > section#intro {
  font-size: 200%; }
  body > section:first-of-type:not([id]) p:first-child,
  body > section#intro p:first-child {
    margin-top: 0; }
  body > section:first-of-type:not([id]) p:last-child,
  body > section#intro p:last-child {
    margin-bottom: 0; }
  body > section:first-of-type:not([id]) p::before,
  body > section#intro p::before {
    content: "In a nutshell";
    display: inline-block;
    vertical-align: text-bottom;
    padding: .25em .5em .2em;
    margin-left: -.3em;
    margin-right: .3em;
    border-radius: .3em;
    background: #abb0ba;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 55%; }

body > section table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse; }
  body > section table th, body > section table td {
    text-align: left; }
  body > section table td {
    padding: .1em .5em;
    border: 1px solid rgba(0, 0, 0, 0.1); }

.unimplemented {
  text-decoration: line-through;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed; }

#toc {
  margin: 1em;
  overflow: hidden;
  border-radius: .4em;
  background: rgba(37, 175, 244, 0.2);
  font-weight: bold;
  font-size: 80%; }
  @media (min-width: 1300px) {
    #toc {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 1;
      max-width: calc(50vw - 450px - 2em);
      max-height: calc(100vh - 3em); } }
  #toc summary, #toc ul {
    margin: 0;
    padding: .6rem; }
  #toc summary {
    background: rgba(37, 175, 244, 0.6);
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    cursor: pointer; }
    #toc summary:focus {
      background: #ff9500;
      outline: none; }
  #toc ul {
    list-style: none;
    overflow: auto; }
  #toc a {
    display: block;
    margin: .3em 0; }

.learn-more {
  font-weight: bold;
  margin-bottom: 0; }
  .learn-more a::before {
    content: "▸ Learn more about "; }
  .learn-more + .learn-more {
    margin-top: 0; }

table.attributes td:nth-last-child(2) {
  background: #ddff99;
  color: #669900;
  text-align: center;
  vertical-align: middle; }
  table.attributes td:nth-last-child(2).semi {
    font-size: 65%;
    font-weight: bold;
    text-transform: uppercase;
    background: #ffee99;
    color: #b39500; }
  table.attributes td:nth-last-child(2):empty {
    background: #ffdbdb;
    color: #d65c5c; }
    table.attributes td:nth-last-child(2):empty::before {
      content: "✘"; }

/*# sourceMappingURL=style.css.map */
