@import "../css/vars";

def {
	font-weight: bold;
	font-style: italic;
}

h1 > a {
	color: inherit;
}

body > header + h2 {
	background: $green;
}

.example {
	&.scoped-expressions .example-container {
		[typeof] {
			padding: 1em;
			border: 1px solid rgba(0,0,0,.2);
			background: rgba(0,0,0,.05);
			margin: 1em;
		}
	}

	&.pow .example-container {
		font-size: 300%;

		input {
			background: rgba(0,0,0,.05);
			border: none;
		}

		input {
			text-align: center;
		}

		[property="exponent"] {
			font-size: 60%;
			vertical-align: top;
		}
	}

	&.movie .example-container {
		padding: 0;

		div[class] {
			padding: 2em;
		}
	}

	.mv-debug-storage {
		margin: 0;
		background: rgba(0,0,0,.06);
		color: black

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		summary {
			display: block;
			padding: .3em .8em;
			background: rgba(0,0,0,.3);
			color: white;
			font-size: 75%;
			font-weight: bold;
			cursor: pointer;
			outline: none;

			&:hover, &:focus {
				background: rgba(0,0,0,.6);
			}
		}

		pre {
			background: none;
			margin: 0;
			color: black;

			th {
				color: white;
			}

			th, td {
				border-color: hsla(0,0%,0%,.1);
			}
		}

		@media print {
			display: none;
		}
	}
}

#summary {
	break-inside: avoid;

	dt {
		font-size: 120%;
		font-weight: bold;
	}
}

body > section#intro {
	p::before {
		content: "In a nutshell";
	}
}

[property="advanced"] {
	@include run-in;
	vertical-align: .3em;
	margin-right: .5em;
	background: rgba(0,0,0,.85);

	&::before {
		content: "☠️ ";
	}
}

h1, h2 {
	section.advanced > &,
	&.advanced {
		color: black;
	}

	section.advanced:not([property]) > &,
	&.advanced {
		&::before {
			content: "☠️ Advanced";
			@extend [property="advanced"];
		}
	}
}

.unimplemented {
	text-decoration: line-through;
	text-decoration-style: dashed;
}

h2 .to-contents {
	// Hamburger menu
	display: inline-block;
	vertical-align: .2em;
	padding: .2em .3em;
	border-radius: .3em;
	margin-left: .5em;
	background: hsla(0,0%,100%,.8);
	mix-blend-mode: screen;
	color: black;
	font-size: 60%;
	text-decoration: none;

	&:hover,
	&:focus {
		background: white;
	}

	@media (min-width: 1300px) {
		// Hide except from screen readers
		@include hide-accessibly;
	}
}

.has-contents {
	body > section,
	body > div {
		@media (min-width: 1300px) and (max-width: 1650px) {
			margin-left: 21rem;
			margin-right: auto;
		}
	}
}

#contents {
	margin: 1em;
	overflow: hidden;
	border-radius: .4em;
	background: rgba($blue, .2);
	overflow: auto;
	font-weight: bold;
	font-size: 80%;

	@media (min-width: 1300px) {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 1;

		max-width: 20rem;

		@media (min-width: 1650px) {
			max-width: calc(50vw - #{$content-width/2} - 3rem);
		}

		max-height: calc(100vh - 7rem);
	}

	a {
		display: block;
		padding: .5em .8em;
	}

	ul {
		list-style: none;
		overflow: auto;
		margin: 0;
		padding: 0;
	}

	& > ul > li > a {
		background: rgba($blue, .6);
		text-transform: uppercase;
		color: rgba(white, .8);
		text-decoration: none;

		&:hover {

		}

		&:hover,
		&:focus {
			background: $orange;
			outline: none;
		}
	}

	ul ul {
		// On this page links
		padding: .5em 0;

		a {
			padding-top: .2em;
		}
	}

	li.current {
		& > a {
			background: $blue;
			// display: flex;
			//
			// &::after {
			// 	content: "▾";
			// 	flex: 1;
			// 	text-align: right;
			// }
		}
	}
}

.learn-more {
	font-weight: bold;
	margin-bottom: 0;

	a::before {
		content: "▸ Learn more about ";
	}

	& + & {
		margin-top: 0;
	}
}

table.attributes {
	td:nth-last-child(2) {
		background: hsl(80, 100%, 80%);
		color: hsl(80, 100%, 30%);
		text-align: center;
		vertical-align: middle;

		&.semi {
			font-size: 65%;
			font-weight: bold;
			text-transform: uppercase;

			background: hsl(50, 100%, 80%);
			color: hsl(50, 100%, 35%);
		}

		&:empty {
			background: hsl(0, 100%, 93%);
			color: hsl(0, 60%, 60%);

			&::before {
				content: "✘";
			}
		}
	}
}

@keyframes target {

}

[mv-app="api"] {
	h2, h3, h4, p {
		margin: 0;
	}

	.filter {
		padding: 1em;
		margin: 1em 0;
		background: rgba(0,0,0,.05);
	}

	[property=mavoClass] {
		margin-top: 1em;
		border: 1px solid #eee;
		padding: .8em 1em;

		& > summary {
			display: flex;
			align-items: baseline;

			h2 {
				font-size: 200%;
				margin-right: .3em;

				a {
					color: inherit;
				}
			}

			p {
				font-style: italic;
				color: gray;

				a {
					color: inherit;
				}
			}

			p:last-of-type {
				flex: 1;
				text-align: right;
			}
		}

		& > h3 {
			margin-top: 1em;
		}

		&:not([mv-mode=edit]) .no-inherits {
			display: none;
		}
	}

	[property=member] {
		border: 1px solid rgba(0,0,0,.1);
		border-left: .3em solid var(--color);
		padding: 0 .8em 0;
		margin: .3em 0;
		background: color-image(hsla(0,0%,100%,.95)) var(--color);
		background-clip: border-box;

		a {
			color: var(--color);
		}

		& > summary {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: .3em .5em;
			margin: 0 -.75em 0 -.8em;
			background: color-image(hsla(0,0%,100%,.85)) var(--color);

			h4 {
				flex: 1;

				a {
					color: inherit;
				}
			}
		}

		[property=description],
		details {
			margin: .5em 0;
		}

		&.role-property {
			--color: $magenta;
		}

		&.role-accessor {
			--color: $orange;
		}

		&.role-function {
			--color: $blue;

			& > summary [property=name]::after {
				content: "()"
			}
		}

		&.role-constructor {
			--color: $green;
		}

		[property=role],
		[property=static],
		[property=optional] {
			margin-left: .5em;
			padding: .15em .5em;
			border-radius: .3em;
			background-color: var(--color);
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 80%;
			white-space: nowrap;
		}

		[property=static] {
			background: black;
		}

		table {
			width: 100%;
			table-layout: auto;

			th:last-child {
				width: 60%;
			}

			td:first-child {
				white-space: nowrap;
			}

			tfoot {
				border-top: 3px solid var(--color);

				td:first-child {
					font-weight: bold;
				}
			}
		}

		details {
			summary {
				text-transform: uppercase;
				font-size: 80%;
				font-weight: bold;
				color: hsla(0,0%,30%,.5);
				text-shadow: 0 0 var(--color);
			}
		}

		p:not(:empty) + details {
			margin-top: .5em;
		}
	}

	@keyframes target {
		to {
			box-shadow: 0 0 10em .1em transparent;
		}
	}

	[property=mavoClass].mv-target-within {
		box-shadow: 0 0 1em .1em orange;
		animation: target 1s 1s both;
	}

	[property=optional] {
		background-image: color-image(hsla(0,0%,90%,.5));
		color: var(--color);
	}

	[property=type],
	[property=returnType],
	.type {
		font-family: $mono-font;
		font-weight: bold;
		white-space: nowrap;
	}

	&:not([mv-mode=edit]) .hide-on-read {
		display: none;
	}

	[property=argument] {
		.mv-item-bar {
			position: static;
			opacity: 1;
		}
	}
}

.mv-add-section {
	font-size: 150%;
}

:not(pre) code em {
	padding: .25em .4em .15em;
	background: hsla(220,10%,50%,.125);
	border-radius: .25em;
	text-shadow: 0 -1px 1px white;
}
